page-congratulation {
    
      background-image:url("../assets/imgs/bg_black_tranparent50.png") !important;
      display:block;
    
      .toolbar-background-md {
        background: transparent;
      }
    
      .content-md {
        background-color: transparent;
      }
    
      .icon-close-white{
        font-size: 2em;
        color:white;
      }

      .content-center {
        top: 32%;
        width: 100%;
        z-index: 5;
        position: absolute;
    }

      .logoImagePosition{
        top:-25vh;
        width: 100%;
        height: 100%;
        z-index:5;
        position:fixed;
      }

      .logoSize{
        width:20vw;
      }

      .headerFont{
        font-size: 2.5em;
        color:white;
      }

      .contentFont{
        font-size: 1.2em;
        color:white;
        align-items: center;

      }

      .glow {
        position: absolute;
        margin: 0 auto;
        top:-25vh;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-animation: glow 10s linear 0s infinite forwards;
        background: url('../assets/imgs/bg_rotate.png') no-repeat center;
        background-size: contain;
      }
      
      .particles {
        position: absolute;
        top: 20%;
        left: calc(40%);
        width: 100px;
        height: 100px;
        
      }
      
      .rotate {
        position: absolute;
        top: calc(50% - 5px);
        left: calc(50% - 5px);
        width: 10px;
        height: 10px;
      }
      
      .angle {
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .size {
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .position {
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .pulse {
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .particle {
        position: absolute;
        top: calc(50% - 5px);
        left: calc(50% - 5px);
        width: 30px;
        height: 30px;
        background: url('http://www.officialpsds.com/images/thumbs/shine-light-bright-psd43123.png');
        
        background-size: contain;
      }
      
      .rotate {
        -webkit-animation: rotate 20s linear 0s infinite alternate;
      }
      
      .pulse{
        -webkit-animation: pulse 1.5s linear 0s infinite alternate;
      }
      
      @keyframes glow {
        0% {
          transform: scale(1) rotate(0deg);
          filter: brightness(150%) saturate(50%) hue-rotate(0deg) opacity(100%);
          
        }
        25% {
          transform: scale(0.8) rotate(90deg);
          filter: brightness(100%) saturate(50%) hue-rotate(50deg) opacity(100%);
        }
        50% {
          transform: scale(1) rotate(180deg);
          filter: brightness(100%) saturate(100%) hue-rotate(0deg) opacity(100%);
        }
        75% {
          transform: scale(0.8) rotate(270deg);
          filter: brightness(100%) saturate(50%) hue-rotate(50deg) opacity(100%);
        }
        100% {
          transform: scale(1) rotate(360deg);
          filter: brightness(150%) saturate(100%) hue-rotate(0deg) opacity(100%);
          
        }
      }
      
      @keyframes rotate {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
      
      @keyframes angle {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
      
      @keyframes size {
        0% {
          -webkit-transform: scale(.2);
        }
        100% {
          -webkit-transform: scale(.6);
        }
      }
      
      @keyframes position {
        0% {
          -webkit-transform: translate3d(0,0,0);
          opacity: 1;
        }
        50%{
          opacity: 1;
        }
        100% {
          -webkit-transform: translate3d(100px,100px,0);
          opacity: 0;
        }
      }
      
      @keyframes pulse {
        0% {
          -webkit-transform: scale(1);
        }
        100% {
          -webkit-transform: scale(.5);
        }
      }
      
      @keyframes particle {
        from {
          transform: scale(1);
          filter: brightness(200%) hue-rotate(0deg);
          
        }
        to {
          transform: scale(1.1);
          filter: brightness(100%) hue-rotate(50deg);
          
        }
      }
      
      .rotate .angle:nth-child(1){
        -webkit-animation: angle 10s steps(5) 0s infinite;
      }
      .rotate .angle:nth-child(1) .size{
        -webkit-animation: size 10s steps(5) 0s infinite;
      }
      .rotate .angle:nth-child(1) .particle{
        -webkit-animation: particle 6s linear infinite alternate;
      }
      .rotate .angle:nth-child(1) .position{
        -webkit-animation: position 2s linear 0s infinite;
      }
      
      .rotate .angle:nth-child(2){
        -webkit-animation: angle 4.95s steps(3) -1.65s infinite;
      }
      .rotate .angle:nth-child(2) .size{
        -webkit-animation: size 4.95s steps(3) -1.65s infinite alternate;
      }
      .rotate .angle:nth-child(2) .particle{
        -webkit-animation: particle 4.95s linear -3.3s infinite alternate;
      }
      .rotate .angle:nth-child(2) .position{
        -webkit-animation: position 1.65s linear 0s infinite;
      }
      
      .rotate .angle:nth-child(3){
        -webkit-animation: angle 13.76s steps(8) -6.88s infinite;
      }
      .rotate .angle:nth-child(3) .size{
        -webkit-animation: size 6.88s steps(4) -5.16s infinite alternate;
      }
      .rotate .angle:nth-child(3) .particle{
        -webkit-animation: particle 5.16s linear -1.72 infinite alternate;
      }
      .rotate .angle:nth-child(3) .position{
        -webkit-animation: position 1.72s linear 0s infinite;
      }
      
      .rotate .angle:nth-child(5) .position{
        -webkit-animation: position 2.45s linear 0s infinite;
      }

}
