<ion-content no-bounce (click)="btnClose()">
    <div>
        <div class="content-center">
            <div class="logoImagePosition center-center">
                <img src="assets/imgs/icons/{{iconImage}}" class="logoSize">
            </div>
            <div class="headerFont center-center">Congratulations!</div>
            <div class="contentFont center-center">
                {{textAchieved}}
            </div>
            <div class="contentFont center-center">
                {{textResult}}
            </div>
        </div>
        <div class="glow">
        </div>
    </div>
</ion-content>