<ion-content class="mainContent">

  <div class="flex-center">
    <div class="formLgoin">

      <div class="logo">
        <img src="assets/imgs/mtl-colour-rgb.png">
      </div>

      <div class="loginPadding">
        <div class="textSignin">Sign in</div>

        <div class="inputStyle">
          <div class="lableForm">USERNAME</div>
          <ion-item>
            <ion-input type="text" [(ngModel)]="txtUsername" maxlength="20" placeholder="Please enter" clearInput>
            </ion-input>
          </ion-item>
        </div>

        <div class="inputStyle inputMarginTop">
          <div class="lableForm">PASSWORD</div>
          <ion-item>
            <ion-input type="password" [(ngModel)]="txtPassword" maxlength="20" placeholder="Please enter" clearInput
              (keyup.enter)="btnLogin()">
            </ion-input>
          </ion-item>
        </div>

        <!-- <div text-right class="textForgetPassword" (click)="btnForgotPassword()">
          Forgot password
        </div> -->

        <ion-item text-wrap>
          <ion-row>
             <ion-col col-2 no-padding no-margin>
               <ion-item no-padding no-margin no-lines>
                 <ion-checkbox [(ngModel)]="isenabled" (click)="createWaste()"></ion-checkbox>
               </ion-item>
             </ion-col>
             <ion-col col-10 no-padding no-margin>
               <ion-item no-padding no-margin no-lines>
                I agree to the <a target="_blank" (click)="condutionModal()">Terms and Conditions</a>
               </ion-item>
             </ion-col>
           </ion-row>
         </ion-item>

        <div class="loginButton center-center" *ngIf="isenabled" (click)="btnLogin()">
          <div>Login</div>
        </div>
        <div class="loginButtonEnabled center-center" *ngIf="!isenabled">
          <div>Login</div>
        </div>
        <ion-row>
          <ion-col col-6 style="margin-top: 20px; opacity: 0.4;">
            In case of error, please
          </ion-col>
          <ion-col col-6 style="margin-top: 20px; color: #0070ffb3;" class="item" href="#" onclick="window.open('https://mtladss.muangthai.co.th/showLogin.cc'); return false;">
            reset your password
          </ion-col>
          <!-- <a style="margin-top: 23px;" class="item" href="#" onclick="window.open('https://mtladss.muangthai.co.th/showLogin.cc'); return false;">
            reset your password
          </a> -->
        </ion-row>
        <div style="margin-top: 20px; opacity: 0.4;">
          This is a beta version. Your data will be used to help us develop a better app in the future
        </div>
      </div>
    </div>
  </div>

</ion-content>