page-login {

    .scroll-content{
      padding-bottom: 0 !important;
    }
  
    .mainContent {
      background-color: white;
    }
  
    .formLgoin {
      margin-top: 40%;
      width:100%;
      position: relative;
    }
  
    .logo{
        // background-color: blue;
      position: absolute;
      top: -45%;
      z-index: 5;
      margin: 0 auto;
      right: 0;
      left: 0;
      width: 75%;
  
      @media only screen 
      and (min-device-width : 768px) 
      and (max-device-width : 1024px) 
      and (orientation : portrait)
      and (-webkit-min-device-pixel-ratio: 2)
      {
        top: -115%;
      }
    
      @media only screen 
      and (min-width: 1024px) 
      and (max-height: 1366px) 
      and (-webkit-min-device-pixel-ratio: 1.5) {
        top: -160%;
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: inline-block;
      }
    }
  
    .loginButton{
      height: 2.3em;
      border-radius: 2em;
      font-size: 1.1em;
      margin: 0 auto;
      color: white;
      background-color: #f0027f;
      width: 100%;
    }

    .loginButtonEnabled{
      height: 2.3em;
      border-radius: 2em;
      font-size: 1.1em;
      margin: 0 auto;
      color: white;
      background-color: #bdbdbd;
      width: 100%;
    }
    .loginPadding{
        // background-color: red;
        margin:2.5em;
    }

    .textSignin{
        opacity: 0.8;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 1.37em;
        font-weight: 600;
        letter-spacing: 0.03em;
        color: #383838;
        margin-bottom:1em;
    }


    .lableForm{
        position: absolute;
        margin-top:1em;
        margin-bottom:1em;
        margin-left:1em;
        font-size: 0.5em!important;
        color: #383838;
    }

    .inputStyle{
        border-radius: 3px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
        background-color: #fafafa;
        padding:0.2em;
    }
  
    .text-input-md {
        // background-color: blue;
        margin-top:2em;
        margin-bottom:0.5em;
        padding: 0;
    }

    .textForgetPassword{
        margin-top:1em;
        margin-bottom: 3em;
        font-size: 0.9em;
        font-weight: 500;
        text-align: right;
        color: #00c0f2;
    }

    .inputMarginTop{
        margin-top:0.65em;
    }

    .item-md {
        padding-left: 0em;
        font-size: 1em;
        background-color: transparent;
    }

    .item-md.item-block .item-inner,
    .item-md.item-input.input-has-focus .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
    .list-md .item-input.input-has-focus:last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom: none;
        box-shadow: none;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
        box-shadow: none; 
    }

    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: transparent;
        -webkit-box-shadow: inset 0 -1px 0 0 transparent;
        box-shadow: inset 0 -1px 0 0 transparent;
    }

    .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        height: 0;
    }

    .footer-margin{
        margin-bottom:1.5em;
    }

}
  