<ion-header>
  <ion-toolbar>
    <ion-title>Rewarded Smile Points</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="btnBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div class="headerTop">

    <div class="topCurve">
      <div class="textTitleEarned">My total points</div>
    </div>
    <div class="cardFloat">
      <ion-card class="cardPaddingHead">

        <div class="centerEarnedPoint">

          <ion-row no-margin no-padding>
              <ion-col col-7>
            <!-- <ion-col  no-margin no-padding class="center-center"> -->
              <!-- <img src="assets/imgs/icons/icon_gold_coin_big.png" class="imgGoldCoin"> -->
              <!-- </ion-col>
            <ion-col no-margin no-padding class="center-left"> -->
                <div class="textEarnedPoint">{{totalSmilePoint}} </div>
              <!-- <div class="textEarnedPoint">{{totalSmilePoint}} <span>Pts</span></div> -->
            </ion-col>
            <ion-col col-3>
                <img src="assets/imgs/icons/point.png" class="imgPoint">
            </ion-col>
          </ion-row>
          <div>
          </div>
          <!-- <div class="textMyPoint">Annual Premium: 50,000 baht</div> -->
          <div class="textMyPoint">Weekly Premium: {{totalPremium}} THB.</div>
        </div>

      </ion-card>
    </div>
    <ion-row (click)="getInfo()">
      <div class="textRewardHistory" style="width: max-content;">Achievement Reward history</div>
      <div  style="padding-left: 10px;">
        <ion-icon name="ios-information-circle-outline" style="font-size: 2em;"></ion-icon>
      </div>
    </ion-row>
    <!-- <div class="textRewardHistory">Achievement Reward history</div> -->

  </div>

</ion-header>


<ion-content class="mainContent">

  <div class="cardContentPadding">
    <ion-card class="cardPadding">
      <ion-list no-margin no-padding *ngFor="let record of showCardData;let i= index">
        <ion-item>
          <ion-row no-padding no-margin class="center-center">

            <ion-col no-padding no-margin col-3>
              <div class="center-center">
                <img src="{{record.levelImage}}" class="avatarWidth">
              </div>
            </ion-col>

            <ion-col no-padding no-margin>
              <div class="vbox">

                <div class="flex1">
                  <div class="textName bottom-left">Level {{record.levelNo}}</div>
                </div>
                <div class="flex1">
                  <div class="textData">{{record.period}}</div>
                </div>

              </div>
            </ion-col>

            <ion-col no-padding no-margin col-2>


              <!-- <div class="textRankBg center-center">
                <span class="textRank">+ {{record.smilePoint}}</span>
              </div> -->
              <div class="flex1">
                <span class="textRank" style="font-size:0.8em">{{record.smilePoint}} pts</span>
              </div>
              <div class="flex1">
                <span class="textRank" style="font-size:0.8em"></span>
              </div>

            </ion-col>

          </ion-row>

          <div class="lineSeperate" *ngIf="i != (showCardData.length)-1"></div>
          <div class="lineSeperateNone" *ngIf="i == (showCardData.length)-1"></div>
        </ion-item>
      </ion-list>

    </ion-card>

  </div>

</ion-content>
