page-rewarded-smaile-points {

  background-color: #ffffff;

  .toolbar-background-md {
    border-color: transparent;
    background: #d30876;
  }

  .toolbar-title-md {
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .scroll-content {
    padding-top: 0px !important;
    padding-bottom: 14.5em !important;
  }

  .mainContent {
    margin-top: 14em !important;
  }


  .headerTop {
    width: 100%;
    position: absolute;
    padding-top: 1em;
  }

  .topCurve {
    position: absolute;
    top: 0px;
    width: 100%;
    display: block;
    background-color: #d30876;
    height: 10.5em;
    overflow: hidden;
    border-bottom-right-radius: 200vh 20vh;
    border-bottom-left-radius: 200vh 20vh;
    width: 106%;
    margin-left: -3%;
    margin-right: 3%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .cardFloat {
    margin-left: 1em;
    margin: 0.5em;
    position: relative;
    top: 0;
  }

  .cardContentPadding {
    margin-left: 1em;
    margin: 0.5em;
    margin-bottom: 15.2em;
  }

  .card-md {
    border-radius: 0.8em;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }

  .cardPaddingHead {
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.8em;
  }

  .cardPadding {
    margin-top: 0em;
    padding-top: 0.5em;
  }

  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: white;
  }

  .toolbar-title-md {
    color: white;
  }

  .header-md::after,
  .tabs-md[tabsPlacement="top"]>.tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    width: 0;
  }

  .textTitleEarned {
    margin-left: 2em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #ffffff;
  }

  .textEarnedPoint {
    margin-left: 0.1em;
    height: 1.35em;
    font-size: 2.5em;
    font-weight: 1000;
    letter-spacing: 0.03em;
    color: #383838;
    text-align: -webkit-right;
    text-align: right;
  }

  .textMyPoint {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.37em;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-align: center;
    color: #383838;
  }

  .centerEarnedPoint {
    padding-top: 0.85em;
    padding-bottom: 0.5em;
  }

  .imgGoldCoin {
    margin-right: 0.5em;
    width: 3.2em;
  }

  .imgPoint {
    width: 3.2em;
  }

  .textRewardHistory {
    margin-left: 1.3em;
    padding-top: 0.4em;
    font-size: 1em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #383838;
  }


  .avatarWidth {
    // margin-left: 0.5em;
    width: 85%;
    vertical-align: middle;
    text-align: center;
  }

  .line-seperate {
    margin-top: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .textRankBg {
    height: 100%;
    margin-right: 0.5em;
  }

  .textRank {
    // font-size: 1.5em;   
    color: rgba(56, 56, 56, 0.54);
    font-weight: 700;
  }


  .textName {
    margin-left: 0.5em;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #383838;
    bottom: -10%;
    position: absolute;
  }

  .textData {
    margin-left: 0.5em;
    // font-size: 1em;
    font-size: 0.8em;
    // letter-spacing: 0.4px;
    color: #383838;
    top: -10%;
    position: absolute;
  }

  .item-md {
    padding-left: 0.5em;
  }

  .item-md.item-block .item-inner {
    padding-right: 0;
  }

  .label-md {
    margin: 13px 8px 0 0;
  }

  .lineSeperate {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .lineSeperateNone {
    margin-bottom: 0.8em;
  }


}
