page-device-sync {

    background-color: #ffffff;

    .toolbar-background-md {
      border-color:transparent;
      background: #d30876;
  }

    .scroll-content {
      padding-top:0px!important;
      padding-bottom: 15em!important;
      margin-top: 0px!important;
      margin-bottom: 0px!important;
  
      @media only screen 
      and (min-device-width : 768px) 
      and (max-device-width : 1024px) 
      and (orientation : portrait)
      and (-webkit-min-device-pixel-ratio: 2)
      {
        padding-bottom: 19.5em!important;
      }
  
      @media only screen 
      and (min-width: 1024px) 
      and (max-height: 1366px) 
      and (-webkit-min-device-pixel-ratio: 1.5) {
        padding-bottom: 24em!important;
      }
  }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: white;
    }

    .toolbar-title-md {
        color: white;
    }

    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        width: 0;
    }

      .headerTop
      {
        width:100%;
        position:absolute;
        padding-top:1em;
      }

      .topCurve {
        position: absolute;
        top: 0px;
        width: 100%;
        display: block;
        background-color: #d30876;
        height: 10.5em;
        overflow: hidden;
        border-bottom-right-radius: 200vh 20vh;
        border-bottom-left-radius: 200vh 20vh;
        width: 106%;
        margin-left: -3%;
        margin-right: 3%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }

      .textFloatArea{
          width:90%;
        //   background-color: red;
          padding:0 1em 0 1em;
          margin:0 auto;
      }
      .textTitle{
        margin-bottom: 0.35em;
        font-size: 1.5em;
        letter-spacing: 0.4px;
        color: #ffffff;
      }

    .textDescription{
        line-height: 1.1em;
        width:100%;
        // margin-left: 1em;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 2em;
        // font-weight: bold;
        letter-spacing: 0.4px;
        color: #ffffff;
  
        @media only screen 
        and (min-device-width : 768px) 
        and (max-device-width : 1024px) 
        and (orientation : portrait)
        and (-webkit-min-device-pixel-ratio: 2)
        {
          margin-left: 3em;
        }
      
        @media only screen 
        and (min-width: 1024px) 
        and (max-height: 1366px) 
        and (-webkit-min-device-pixel-ratio: 1.5) {
          margin-left: 3.5em;
        }
      }

    .text-header-wording{
        font-size: 2em;
        color: #ffffff;
    }

    .mainContent{
        margin-top:15em!important;    
      }

      .cardContentPadding{
        margin-left:1em;
        margin-top:0em;
        margin-left:0.5em;
        margin-right:0.5em;
      }

      .card-md{
        border-radius: 0.8em;
        -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        
      }

      .cardPadding{
        margin-bottom: 1em;
      }

      .imgDevice{
        margin-top:0.5em;
        margin-left:1em;
        margin-bottom:0.5em;
        margin-right:0.5em;
        width:85%;
  
        @media only screen 
        and (min-device-width : 768px) 
        and (max-device-width : 1024px) 
        and (orientation : portrait)
        and (-webkit-min-device-pixel-ratio: 2)
        {
          width:calc(25vw);
        }
      }

      .imgLogo{
        
      }
      

}
