<ion-header>

  <ion-toolbar>
    <ion-buttons right>
      <button ion-button icon-only (click)="btnSkip()">
        Skip
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div class="headerTop">
    <div class="topCurve">
      <div class="textFloatArea">
        <div class="textTitle">
          Welcome, MTL Health App
        </div>
        <div class="textDescription">
          Choose the device
          and sync your activity
        </div>
      </div>
    </div>
  </div>

</ion-header>


<ion-content class="mainContent">

    <div class="cardContentPadding">
        <ion-card class="cardPadding" *ngFor="let record of deviceData;let i=index">
          <ion-row no-margin no-padding (click)="btnConnectDevice(record)">
            <ion-col col-4 no-margin no-padding class="center-center">
              <img src="{{record.deviceImage}}" class="imgDevice">
            </ion-col>
            <ion-col no-margin no-padding class="center-left">
              <img src="{{record.deviceBrandImage}}" class="imgLogo">
            </ion-col>
          </ion-row>
        </ion-card>
      </div>

  <!-- <div class="cardContentPadding">
    <ion-card class="cardPadding" *ngFor="let record of mockupData;let i=index">
      <ion-row no-margin no-padding (click)="btnConnectDevice(record)">
        <ion-col col-4 no-margin no-padding class="center-center">
          <img src="assets/imgs/devices/{{record.device_photo}}" class="imgDevice">
        </ion-col>
        <ion-col no-margin no-padding class="center-left">
          <img src="assets/imgs/devices/logo/{{record.logo_photo}}" class="imgLogo">
        </ion-col>
      </ion-row>
    </ion-card>
  </div> -->

</ion-content>