page-challenge-create {

  .toolbar-background-md {
    background: #d30876 !important;
  }

  .scroll-content {
    // padding-top: 1.5em!important;
    // padding-bottom: 15em !important;
    margin-top: 14em !important;
  }

  .bodyPadding {
    padding: 1em;
  }

  .toolbar-title-md {
    padding-left: 1em;
    color: white;
  }

  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: white;
  }

  .header-md::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    width: 0;
  }

  .footerPadding {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .saveButton {
    margin: 0 auto;
    height: 2.3em;
    border-radius: 3em;
    font-size: 1.2em;
    color: white;
    background-color: #f0027f;
    // background-color: #2fa2d6;
    width: 100%;
  }

  .textSave {
    width: 100%;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    letter-spacing: 0.4px;
    color: #ffffff;
    text-align: center;
  }

  .topHeader {
    width: 100%;
    position: absolute;
    height: 12em;
    background-color: #2fa2d6;
  }

  .imageHeader {
    margin-top: 0;
    height: 5em;
    background-color: #d30876;
    width: 100%;
    margin-bottom: 3.5em;
  }

  .mainContent {
    // margin-top:7em!important;
    background-color: #f9f9f9;
  }

  .avatarProfileWidth {
    border-radius: 50%;
    width: 7.5em;
    border: 2px solid white;
    box-shadow: 1em 1em 3em -2em rgba(0, 0, 0, 0.75);
  }

  .photoWording {
    opacity: 0.4;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
  }

  .lableForm {
    margin-top: 1em;
    margin-left: 0.5em;
    font-size: 1em !important;
    color: #383838;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    letter-spacing: 0.05em;
    // padding-bottom: 1em;
    // background-color: red;
  }

  .labelDesctiption {
    margin-left: 1em;
    margin-bottom: 1em;
    font-size: 0.85em !important;
    color: #919192;
  }

  .text-input-md {
    margin: 0px 8px;
    padding: 0;
  }

  .item-md {
    border-radius: 0.4em;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .item-md.item-block .item-inner,
  .item-md.item-input.input-has-focus .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
  .list-md .item-input.input-has-focus:last-child,
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom: none;
    box-shadow: none;
  }
  .list-md .item-input.input-has-focus:last-child .item-inner,
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
    box-shadow: none;
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: transparent;
    -webkit-box-shadow: inset 0 -1px 0 0 transparent;
    box-shadow: inset 0 -1px 0 0 transparent;
  }

  .lineSeperate {
    // margin-top:0.5em;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: 0 auto;
  }

  .datetime-md {
    padding: 13px 8px 13px 0.5em;
  }

  .datePadding {
    padding-bottom: 0.5em;
  }

  .imageChallenge {
    top: 2.5em;
    margin: 0 auto;
    padding: 0.1em;
    position: relative;
  }
  .positionIcon {
    width: 2em;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .customActionSheetChallenge {
    text-align: left;
    max-width: 100%;
    width: 100%;

    .iconArrowDown {
      width: 0.8em;
    }
  }

  .label-md {
    margin: 0em;
  }

  .marginColumn{
    margin-left: 0.2em;
  }
}

.picker-md .picker-wrapper {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
  border-top: 0.55px solid #dedede;
  background: #fff;
}

.action-sheet-md .action-sheet-group {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
  background: #fff;
  border-top: 0.55px solid #dedede;
  border-bottom: 0;
}

ion-list {
  width: 100%;
}
