<ion-header>
  <ion-toolbar>
    <ion-title>Group challenge details</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="btnBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div class="imageHeader center-center">
    <div>
      <div class="imageChallenge center-center" (click)="btnSelectPhoto()">
        <img src="assets/imgs/icons/icon_camera.png" class="positionIcon">
        <img src="{{imgChallenge}}" class="avatarProfileWidth">
      </div>
    </div>
  </div>

</ion-header>


<ion-content class="mainContent">



  <div class="bodyPadding">
    <div class="inputStyle">
      <div class="lableForm datePadding">Group name</div>
      <ion-item>
        <ion-input type="text" [(ngModel)]="txtChallengeName" maxlength="20" placeholder="Please enter" clearInput>
        </ion-input>
      </ion-item>
    </div>

    <div class="inputStyle">
      <div class="lableForm datePadding">Challenge mode</div>
      <ion-item>
        <ion-row no-padding no-margin>
          <ion-col class="center-center" no-padding no-margin>
            <div class="customActionSheetChallenge" (click)="presentActionSheet()">
              <ion-row no-padding no-margin>
                <ion-col col-9 class="center-left marginColumn">{{actionSheetSelected}}</ion-col>
                <ion-col col-2 class="center-right" no-padding no-margin><img
                    src="assets/imgs/icons/icon_arrow-down.png" class="iconArrowDown">
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>

    <div class="inputStyle">
      <div class="lableForm datePadding">Challenge start</div>
      <ion-item>
        <ion-datetime [(ngModel)]="startDate" displayFormat="DDDD DD MMM YYYY" pickerFormat="DDDD MMM YYYY">
        </ion-datetime>
      </ion-item>
    </div>


    <div class="inputStyle">
      <div class="lableForm datePadding">Challenge ends</div>
      <ion-item>
        <ion-datetime [(ngModel)]="endDate" displayFormat="DDDD DD MMM YYYY" pickerFormat="DDDD MMM YYYY">
        </ion-datetime>
      </ion-item>
    </div>

    <div class="inputStyle">
      <div class="lableForm datePadding">Members</div>
      <ion-item>
        <ion-input type="text" [(ngModel)]="txtChallengeName" maxlength="20" placeholder="3 people"
          clearInput>
        </ion-input>
      </ion-item>
    </div>

    <div class="inputStyle">
        <div class="lableForm datePadding">Invite by link or QR code</div>
        <ion-item>
          <ion-input type="text" [(ngModel)]="txtChallengeName" maxlength="20" placeholder="Create Link & QR code"
            clearInput>
          </ion-input>
        </ion-item>
      </div>

      <div class="inputStyle">
          <div class="lableForm datePadding">Short description</div>
          <ion-item>
            <ion-textarea rows="5" [(ngModel)]="txtChallengeName" maxlength="20" placeholder="Please add your friends"
              clearInput>
            </ion-textarea>
          </ion-item>
        </div>

    <div class="footerPadding">
      <div class="saveButton center-center" (click)="btnSaveChallenge()">
        <div class="textSave">Finish</div>
      </div>
    </div>
  </div>

</ion-content>