<ion-content no-bounce (click)="btnClose()">

  <div class="complexView">
    <div class="vbox">
      <div class="flex1 center-center">
        <ion-card>
          <ion-card-content>
            <div class="center-center">
              <img src="{{levelImage}}" class="imgAchievment">
            </div>
            <div class="center-center textAchievment">{{levelName}}</div>
            <div class="center-center textContent">LEVEL {{levelNo}}</div>

            <div class="modalBottom">
              <div class="lineSeparateCurve"></div>
              <div *ngFor="let rec of levelInfo">
                <div class="center-center textContent">{{rec.info}}</div>
              </div>
              <div class="center-center textContent">data in a week</div>
              <div class="center-center textPoint">
                <img src="assets/imgs/icons/icon_gold_coin.png" class="imgGoldCoin">
                + {{smilePoint}} Smile points
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

</ion-content>