<ion-list no-lines>
  <!-- <ion-item (click)="btnEditProfile()">
    <div class="text-right">Profile Setting</div>
  </ion-item> -->
  <div class="line-seperate"></div>
  <ion-item (click)="btnDeviceSetting()">
    <div class="text-right">Device Setting</div>
  </ion-item>
  <!-- <div class="line-seperate"></div>
  <ion-item (click)="btnTermsAndCondition()">
    <div class="text-right">Terms & Condition</div>
  </ion-item> -->
  <div class="line-seperate"></div>
  <ion-item (click)="btnLogout()">
    <div class="text-right">Log out</div>
  </ion-item>
</ion-list>
