popover-setting {
    .list-md {
        margin:0;
    }

    .line-seperate{
        border-bottom: 1px solid rgba(0,0,0, 0.1);
    }

    .label-md {
        margin: 0px;
    }

    .text-right{
        text-align: right;
        margin-right: 0.5em;
    }

}
