<!--
  Generated template for the ApplewatchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>applewatch</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button (click)='requestPermission()'>Permission</button>
  <button (click)='deviceConnect()'>Connect</button>
  <button (click)='deviceDisconnect()'>Disconnect</button>
  <button (click)='syncData()'>Sync</button>
  <button (click)='getWorkOutx()'>workout</button>
  <button (click)='getQuery()'>Query</button>
  <button (click)='getHeartRate()'>Heart Rate</button>

  <ion-list>
    <ion-card *ngFor="let workout of workoutData">
      <ion-card-header>{{ workout.calories }}</ion-card-header>
      <ion-card-content>
        <p>Activity: {{ workout.activityType }}</p>
        <p>Duration: {{ workout.duration / 100 }} min</p>
        <p>Date: {{ workout.startDate | date:'short' }}</p>
        <p>Distance: {{ workout.miles }} miles</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
