<ion-header>
  <ion-toolbar>
    <ion-title>Weekly Achievement</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="btnBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div class="topHeader">
    <div class="topCurve">
      <div class="textTitleLevel">Your Level</div>
    </div>
    <div class="cardFloat">
      <ion-card class="cardPadding">
        <ion-row no-margin no-padding>
          <ion-col col-5 no-margin no-padding class="center-center">
            <img src="{{yourLevel.levelImage}}" class="imgLevel">
          </ion-col>
          <ion-col no-margin no-padding class="center-center">
            <div class="paddingContent">
              <div class="textLevel">LEVEL {{yourLevel.levelNo}}</div>
              <div class="textTitle ">{{yourLevel.levelName}}</div>
              <div *ngFor="let rec of yourLevel.lsInfo">
                <div class="textDescription">{{rec.info}}</div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div class="textNextLevel">Next level</div>
  </div>

</ion-header>

<ion-content class="mainContent">

  <div class="cardContentPadding">
    <ion-card *ngFor="let record of nextLevel;let i= index">
      <ion-row no-margin no-padding class="rowHeight">
        <ion-col col-5 no-margin no-padding class="center-center">
          <img src="{{record.levelImage}}" class="imgLevel">
        </ion-col>
        <ion-col no-margin no-padding class="center-center">
          <div class="areaFullWidth">
            <div class="textLevel">LEVEL {{record.levelNo}}</div>
            <div class="textTitle ">{{record.levelName}}</div>

            <!-- <ion-row no-margin no-padding class="marginTextPoint">
              <ion-col col-2 class="center-center" no-margin no-padding>
                <img src="assets/imgs/icons/icon_gold_coin.png" class="imgGoldCoin">
              </ion-col>
              <ion-col no-margin no-padding class="center-left" class="textSmilePoint">
                <div class="textPoint">+ {{record.smile_point}} Smile points</div>
              </ion-col>
            </ion-row> -->
            <div *ngFor="let rec of record.lsInfo">
            <div class="textDescriptionNext">{{rec.info}}</div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

</ion-content>