page-weekly-achivement {
  
  background-color: #ffffff;

  .toolbar-background-md {
    border-color:transparent;
    background: #d30876;
}

  .toolbar-title-md {
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  .scroll-content {
    padding-top: 0px!important;
    padding-bottom: 15.2em!important;

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio: 2)
    {
      padding-bottom: 19.5em!important;
    }

    @media only screen 
    and (min-width: 1024px) 
    and (max-height: 1366px) 
    and (-webkit-min-device-pixel-ratio: 1.5) {
      padding-bottom: 24em!important;
    }
}
  .mainContent{
    margin-top:15.6em!important;

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio: 2)
    {
      margin-top:19.5em!important;
    }

    @media only screen 
    and (min-width: 1024px) 
    and (max-height: 1366px) 
    and (-webkit-min-device-pixel-ratio: 1.5) {
      margin-top:24em!important;
    }

  }


    .topHeader
    {
      width:100%;
      position:absolute;
      padding-top:1em;
    }

    .topCurve {
        // z-index: -1 !important;
        position: absolute;
        top: 0px;
        width: 100%;
        display: block;
        background-color: #d30876;
        height: 10.5em;
        overflow: hidden;
        border-bottom-right-radius: 200vh 20vh;
        border-bottom-left-radius: 200vh 20vh;
        width: 106%;
        margin-left: -3%;
        margin-right: 3%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }

      .cardFloat{
        margin-left:1em;
        margin:0.5em;
        position: relative;
        top:0.35em;
      }

      .cardContentPadding{
        margin-left:1em;
        margin-bottom: 16.8em;
        margin-top:0em;
        margin-left:0.5em;
        margin-right:0.5em;
      }

      .card-md{
        border-radius: 0.8em;
        -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        
      }

      .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: white;
    }

    .toolbar-title-md {
        color: white;
    }

    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        width: 0;
    }

    .cardPadding{
      margin-top: 0.5em;
      padding-top:0.5em;
      padding-bottom:0.8em;
      margin-bottom:1em;
      // max-height: 9.5em;
    }

    .imgLevel{
      padding-top:0.5em;
      padding-left:1em;
      padding-bottom:0.5em;
      padding-right:0.5em;
      width:100%;

      @media only screen 
      and (min-device-width : 768px) 
      and (max-device-width : 1024px) 
      and (orientation : portrait)
      and (-webkit-min-device-pixel-ratio: 2)
      {
        width:calc(25vw);
      }
    }

    .paddingContent{
      width:100%;
      margin-left:0.5em;
    }

    .textNextLevel{
      margin-left: 1.3em;
      padding-top:0em;
      font-size: 1em;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-weight: bold;
      letter-spacing: 0.4px;
      color: #383838;

      margin-top:1.2em;

      @media only screen 
      and (min-device-width : 768px) 
      and (max-device-width : 1024px) 
      and (orientation : portrait)
      and (-webkit-min-device-pixel-ratio: 2)
      {
        margin-top:1.5em;
      }

      // @media only screen 
      // and (min-width: 1024px) 
      // and (max-height: 1366px) 
      // and (-webkit-min-device-pixel-ratio: 1.5) {
      //   margin-top:1.5em;
      // }
      
    }

    .textTitleLevel{
      margin-left: 2em;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 0.4px;
      color: #ffffff;

      @media only screen 
      and (min-device-width : 768px) 
      and (max-device-width : 1024px) 
      and (orientation : portrait)
      and (-webkit-min-device-pixel-ratio: 2)
      {
        margin-left: 3em;
      }
    
      @media only screen 
      and (min-width: 1024px) 
      and (max-height: 1366px) 
      and (-webkit-min-device-pixel-ratio: 1.5) {
        margin-left: 3.5em;
      }
    }

    .textLevel {
      font-size: 1em;
      font-weight: 600;
      color: #383838;
    }

    .textTitle {
      // font-size: 1.5em;
      font-size: 1.3em;
      font-weight: bold;
      color: #383838;
    }

    .textDescription{
      font-size: 0.8em;
      font-weight: 600;
      color: #383838;
    }

    .textPoint{
      height: 1.35em;
      width:100%;
      font-size: 1em;
      font-weight: 600;
      color: #383838;
    }

    .marginTextPoint{
      margin-top:0.2em;
      margin-bottom:0.2em;
    }

    .textDescriptionNext{
      font-size: 0.8em;
      font-weight: 600;
      color: rgba(56, 56, 56, 0.6);
      // padding:0.3em;
      overflow-wrap: break-word;
    }

    .textSmilePoint{
      vertical-align: middle;
    }

    .areaFullWidth{
      margin-left: 0.5em;
      width:100%;
    }

    .rowHeight{
      height: 11em;
    }

    .imgGoldCoin{
      // margin-right: 0.4em;
      width: 1.35em;
      height: auto;
    }

}

