<ion-content no-bounce>

  <div class="complexView">
    <div class="vbox">
      <div class="flex1 center-center">
        <ion-card>
          <ion-card-content>
            <ion-row no-margin no-padding>
              <ion-col no-margin no-padding>
                <div (click)="btnClose()">
                  <img src="assets/imgs/close-btn.png" class="closeButton">
                </div>
              </ion-col>
            </ion-row>

            <div class="center-center">
              <img src="{{brandDevicePhoto}}" class="imgAchievment">
            </div>

            <div class="center-center textAchievment">Warning! for Unlink {{brandName}}</div>

            <div class="modalBottom">
              <div class="lineSeparateCurve"></div>
              <div class="center-center textContent">
                {{barndDescription}}
              </div>
              <div class="center-center textPoint">

                <div class="connectDeviceButton center-center" (click)="btnUnlink(brandId)">
                  <div>&nbsp;&nbsp;Unlink {{brandName}} Device</div>
                </div>

              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>