._pink{
  background-color: #edb4b0;
}

._red{
  background-color: red;
}

._green{
  background-color: green;
}

._blue{
  background-color: blue;
}

._yellow{
  background-color: yellow;
}

._gray{
  background-color: gray;
}

._orange{
  background-color: orange;
}