@font-face {
  font-family: 'kalatexatext';
  src: url('../assets/fonts/kalatexatext_regular.eot');
  src: url('../assets/fonts/kalatexatext_regular.eot') format('embedded-opentype'),
  url('../assets/fonts/kalatexatext_regular.woff') format('woff'),
  url('../assets/fonts/kalatexatext_regular.ttf') format('truetype')
}

@font-face {
  font-family: 'kalatexatextbold';
  src: url('../assets/fonts/kalatexatext_bold.eot');
  src: url('../assets/fonts/kalatexatext_bold.eot') format('embedded-opentype'),
  url('../assets/fonts/kalatexatext_bold.woff') format('woff'),
  url('../assets/fonts/kalatexatext_bold.ttf') format('truetype')
}

body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title,ion-header,ion-card,ion-loading,ion-col,ion-row,div {
  font-family: 'kalatexatext' !important;
}

