.complexView{
  padding: 0;
  height: 100%;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.position-relative{
  position:relative;
}

.fix-top-left{
  position:absolute;
  top: 0;
  left: 0;
}

.fix-top-center{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fix-top-right{
  position:absolute;
  top: 0;
  right: 0;
}

.fix-bottom-left{
  position:absolute;
  bottom: 0;
  left: 0;
}
.fix-bottom-right{
  position:absolute;
  bottom: 0;
  right: 0;
}

.fix-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* End - Absolute Layout */

.fit{
  max-width: 100%;
  max-height: 100%;
}

.main-fit-image{
  position:relative;
  display:inline-block;
  overflow:hidden;
}

.fit-100{
  position:absolute;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-bg-fit{
  position:absolute;
  width:100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fit-div{
  position:absolute;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fit-image-tile{
  position:absolute;
  width:100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Layout Flexbox */
.vbox {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}
.hbox {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Flex Top */
.top-left {

  display: -webkit-flex;
  display: flex;

  /*up - down*/
  align-items: flex-start;
  -webkit-align-items: flex-start;

  /*left-right*/
  -webkit-justify-content: flex-start;
  justify-content: flex-start;

}
.top-center {

  display: -webkit-flex;
  display: flex;

  /*up - down*/
  align-items: flex-start;
  -webkit-align-items: flex-start;

  /*left-right*/
  -webkit-justify-content: center;
  justify-content: center;

}
.top-right {

  display: -webkit-flex;
  display: flex;

  /*up - down*/
  align-items: flex-start;
  -webkit-align-items: flex-start;

  /*left-right*/
  -webkit-justify-content: flex-end;
  justify-content: flex-end;

}

/* Flex Center */
.center-center{

  display: -webkit-flex;
  display: flex;

  /*up - down*/
  align-items: center;
  -webkit-align-items: center;

  /*left-right*/
  justify-content: center;
  -webkit-justify-content: center;
}
.center-left {

  display: -webkit-flex;
  display: flex;

  /*up - down*/
  align-items: center;
  -webkit-align-items: center;

  /*left-right*/
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.center-right {

  display: -webkit-flex;
  display: flex;

  /*up - down*/
  align-items: center;
  -webkit-align-items: center;

  /*left-right*/
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

/* Flex Bottom */
.bottom-left{

  display: -webkit-flex;
  display: flex;

  /*up - down*/
  align-items: flex-end;
  -webkit-align-items: flex-end;

  /*left-right*/
  -webkit-justify-content: flex-start;
  justify-content: flex-start;

}
.bottom-center{

  display: -webkit-flex;
  display: flex;

  /*up - down*/
  align-items: flex-end;
  -webkit-align-items: flex-end;

  /*left-right*/
  -webkit-justify-content: center;
  justify-content: center;

}
.bottom-right{

  display: -webkit-flex;
  display: flex;

  /*up - down*/
  align-items: flex-end;
  -webkit-align-items: flex-end;

  /*left-right*/
  -webkit-justify-content: flex-end;
  justify-content: flex-end;

}


/* Flex Size */
.flex1 {
  -webkit-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  position:relative;
}
.flex1_5 {
  -webkit-flex: 1.5 !important;
  -webkit-box-flex: 1.5 !important;
  position:relative;
}
.flex2 {
  -webkit-flex: 2 !important;
  -webkit-box-flex: 2 !important;
  position:relative;
}
.flex3 {
  -webkit-flex: 3 !important;
  -webkit-box-flex: 3 !important;
  position:relative;
}
.flex4 {
  -webkit-flex: 4 !important;
  -webkit-box-flex: 4 !important;
  position:relative;
}
.flex5{
  -webkit-flex: 5 !important;
  -webkit-box-flex: 5 !important;
  position:relative;
}
.flex6 {
  -webkit-flex: 6 !important;
  -webkit-box-flex: 6 !important;
  position:relative;
}
.flex7 {
  -webkit-flex: 7 !important;
  -webkit-box-flex: 7 !important;
  position:relative;
}
.flex8 {
  -webkit-flex: 8 !important;
  -webkit-box-flex: 8 !important;
  position:relative;
}
.flex9 {
  -webkit-flex: 9 !important;
  -webkit-box-flex: 9 !important;
  position:relative;
}
.flex10 {
  -webkit-flex: 10 !important;
  -webkit-box-flex: 10 !important;
  position:relative;
}
.flex11 {
  -webkit-flex: 11 !important;
  -webkit-box-flex: 11 !important;
  position:relative;
}
.flex12 {
  -webkit-flex: 12 !important;
  -webkit-box-flex: 12 !important;
  position:relative;
}
.flex13 {
  -webkit-flex: 13 !important;
  -webkit-box-flex: 13 !important;
  position:relative;
}
.flex14 {
  -webkit-flex: 14 !important;
  -webkit-box-flex: 14 !important;
  position:relative;
}
.flex15 {
  -webkit-flex: 15 !important;
  -webkit-box-flex: 15 !important;
  position:relative;
}
.flex16 {
  -webkit-flex: 16 !important;
  -webkit-box-flex: 16 !important;
  position:relative;
}
.flex17 {
  -webkit-flex: 17 !important;
  -webkit-box-flex: 17 !important;
  position:relative;
}
.flex18 {
  -webkit-flex: 18 !important;
  -webkit-box-flex: 18 !important;
  position:relative;
}
.flex19 {
  -webkit-flex: 19 !important;
  -webkit-box-flex: 19 !important;
  position:relative;
}
.flex20 {
  -webkit-flex: 20 !important;
  -webkit-box-flex: 20 !important;
  position:relative;
}
.flex21 {
  -webkit-flex: 21 !important;
  -webkit-box-flex: 21 !important;
  position:relative;
}
.flex22 {
  -webkit-flex: 22 !important;
  -webkit-box-flex: 22 !important;
  position:relative;
}
.flex23 {
  -webkit-flex: 23 !important;
  -webkit-box-flex: 23 !important;
  position:relative;
}
.flex24 {
  -webkit-flex: 24 !important;
  -webkit-box-flex: 24 !important;
  position:relative;
}
.flex25 {
  -webkit-flex: 25 !important;
  -webkit-box-flex: 25 !important;
  position:relative;
}
.flex26 {
  -webkit-flex: 26 !important;
  -webkit-box-flex: 26 !important;
  position:relative;
}
.flex27 {
  -webkit-flex: 27 !important;
  -webkit-box-flex: 27 !important;
  position:relative;
}
.flex28 {
  -webkit-flex: 28 !important;
  -webkit-box-flex: 28 !important;
  position:relative;
}
.flex29 {
  -webkit-flex: 29 !important;
  -webkit-box-flex: 29 !important;
  position:relative;
}
.flex30 {
  -webkit-flex: 30 !important;
  -webkit-box-flex: 30 !important;
  position:relative;
}

._float1 {
  position: absolute;
  width: 100% !important;
  height: 60px !important;
  bottom: 0% !important;
  z-index: 6 !important;
}