.dark-theme {
    ion-content {
      background:transparent;
    }
   
    .header .toolbar-background {
      border-color: #ff0fff;
      background-color: #2fa2d6;
    }

    .tabs-md .tabbar {
      background: #2fa2d6;
  }

    .toolbar-background {
        background-color:#2fa2d6;
      }
  }  