page-friends {

  .toolbar-background-md {
    background: #d30876 !important;
  }
  
  background-color: #fff !important;

  // background-color: #f9fafd !important;

  .peddingArea{
    background-color: #f9fafd;
    padding: 0.4em 0 !important;
    
    .label-md {
      margin: 0.1em 0.1em 0.1em 0;
    }

  }

  .plusIcon{
    width:1.5em;
    margin-right: 0.5em;
  }

  .rightArrowIcon{
    width:0.6em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .textPendingRequest{
    margin-left:0.7em;
    font-size: 1em;
    font-weight: bold;
  }

  .searchbar-md .searchbar-clear-icon {
    right: 2em;  
  }

  .yourFriendInvite{
    font-size: 1em;
    font-weight: bold;
  }
  
  .bar-button-md[icon-only] {
    color: white;
  }

  .searchbar-md .searchbar-input {
    padding: 6px 55px;
    border-radius: 0.6em;
    background-position: left 8px center;
    width: 95%;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: transparent;
  }

  .header-md::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
  }

  .fixed-content {
    margin-top: 0 !important;
  }

  .scroll-content {
    margin-top: 0 !important;
    padding-bottom: 9em!important;
  }

  .active-item-color {
    background-color: #d8127d !important;
  }

  .inactive-item-color {
    background-color: red !important;
  }

  .toolbar-background-md {
    border-color: #b2b2b2;
    // background: #fafafa !important;
  }

  .logo-leader-board {
    position: absolute;
    height: 90%;
  }

  .imageHeader {
    margin: 0 auto;
    top: 4.5em;
    height: 7.5em;
    width: 100%;
    position: absolute;
    background-color: #d30876;
    // border:1px solid blue;
  }

  @keyframes fade_color {
    from {
      background-color: #2fa2d6;
      opacity: 1;
    }
    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes fade_color {
    from {
      background-color: #2fa2d6;
      opacity: 1;
    }
    to {
      opacity: 1;
    }
  }

  .fadeMe {
    -webkit-animation: fade_color 1s;
    animation: fade_color 1s;
  }

  .header-bg {
    height: 155px;
    width: 100%;
    background: url("../assets/imgs/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    -webkit-animation: fade_color 1s;
    animation: fade_color 1s;
  }

  .topCurve {
    margin-top: 4.5em;
    position: relative;
    bottom: 0px;
    width: 100%;
    display: block;
    background-color: #d30876;
    height: 54px;
    overflow: hidden;
    border-bottom-right-radius: 300vh 30vh;
    border-bottom-left-radius: 300vh 30vh;
    width: 106%;
    margin-left: -3%;
    margin-right: 3%;
    box-shadow: 5px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .toolbar-margin {
    height: 14.5em;
  }

  .margin-spacer {
    margin-left: 1em;
    height: 100%;
  }

  // .avatarWidth{
  // border-radius: 50%;
  // width: 3.5em;
  // height: 3.5em;//*** add new
  // // width: 100%;
  // // height: 100%;
  // max-height: 3.5em;
  // max-width: 3.5em;
  // }

  .avatarWidth {
    position: relative;
    width: 3.5em;
    height: 3.5em;
    overflow: hidden;
    border-radius: 50%;
  }

  .avatarWidth img {
    width: 100%;
    height: auto;
  }

  .avatarProfileWidth {
    width: 6.5em;
    height: 5.2em; //*** add new
  }

  .item-md {
    padding-left: 0.5em;
  }

  .item-md.item-block .item-inner {
    padding-right: 0;
  }

  .label-md {
    margin: 13px 8px 0 0;
  }

  .lineSeperate {
    margin-top: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .lineSeperateNone {
    margin-bottom: 0.8em;
  }

  .toolbar-content-md {
    height: 4.5em;
    padding: 0.2em;
    border-top: 3px solid #d8127d;
  }

  .item-md {
    // background-color: white;
  }

  .mainContent {
    margin-top: 8.6em !important;
    // background-color: #fafafa;
  }

  .fixedHeader {
    margin-top: 43px;
  }

  .topHeader {
    height: 100px;
    width: 100%;
  }

  .textName {
    margin-left: 1.5em;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #383838;
    // bottom: -10%;
    // position: absolute;
  }

  .textNameWhite {
    color: white;
  }

  .textData {
    // margin-left: 1.5em;
    font-size: 1em;
    letter-spacing: 0.4px;
    color: #383838;
    top: -10%;
    // position: absolute;
  }

  .textDataWhite {
    color: white;
  }

  .textRankBg {
    height: 100%;
    text-align: center;
    vertical-align: middle;
  }

  .textRank {
    // line-height: 50%;
    font-size: 1.2em;
    color: rgba(56, 56, 56, 0.54);
    font-weight: 700;
  }

  .textRankWhite {
    color: white;
  }

  .card-md {
    margin: 0;
    width: 100%;
    border-radius: 1em;
    -webkit-box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-top: 0.3em;
  }

  .segmentCenter {
    margin-top: 3px;
    margin-left: 2em;
    margin-right: 2em;
    height: 160px;
  }

  .segmentBg {
    border-radius: 2em;
    background-color: rgba(0, 0, 0, 0.15);
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.2em;
    color: white;

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      width: 60%;
      margin: 0 auto;
    }

    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
      width: 60%;
      margin: 0 auto;
    }
  }

  .segment_button_active {
    border-radius: 2em;
    background-color: white;
    padding: 0.25em;
    text-align: center;
    color: #d30876;
    -webkit-animation: fade_in 0.3s;
    animation: fade_in 0.3s;
    font-size: 1em;
    font-weight: bold;
  }

  .segment_button_inactive {
    border-radius: 2em;
    background-color: transparent;
    padding: 0.25em;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  @keyframes fade_out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @-webkit-keyframes expanded_out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fade_in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes fade_in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .list-md {
    margin: 0;
  }

  .toolbar-md {
    padding: 0;
  }

  .cardPadding {
    margin-left: 0.4em;
    margin-right: 0.4em;
  }

  .cardRadiusTrue {
    border-radius: 1em;
  }

  .cardRadiusFalse {
    border-radius: 0em;
  }

  .cardPaddingTrue {
    margin-left: 1em;
    margin-right: 1em;
    -webkit-animation: expanded_out 0.1s;
    animation: expanded_out 0.1s;
  }

  @keyframes expanded_out {
    from {
      margin-left: 0em;
      margin-right: 0em;
    }
    to {
      margin-left: 1em;
      margin-right: 1em;
    }
  }

  @-webkit-keyframes expanded_out {
    from {
      margin-left: 0em;
      margin-right: 0em;
    }
    to {
      margin-left: 1em;
      margin-right: 1em;
    }
  }

  .cardPaddingFalse {
    margin-left: 0;
    margin-right: 0;
    -webkit-animation: expanded_in 0.1s;
    animation: expanded_in 0.1s;
  }

  @keyframes expanded_in {
    from {
      margin-left: 0.8em;
      margin-right: 0.8em;
    }
    to {
      margin-left: 0em;
      margin-right: 0em;
    }
  }

  @-webkit-keyframes expanded_in {
    from {
      margin-left: 0.8em;
      margin-right: 0.8em;
    }
    to {
      margin-left: 0em;
      margin-right: 0em;
    }
  }

  .magicFooterShow {
    position: absolute;
    bottom: 0;
    -webkit-animation: fadein 0.3s;
    animation: fadein 0.3s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .magicFooterHide {
    position: absolute;
    bottom: 0;
    -webkit-animation: fadeout 0.1s;
    animation: fadeout 0.1s;
  }

  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @-webkit-keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .headerPadding {
    margin-left: 2em;
    margin-right: 2em;
    height: 100%;
  }

  .marginLeft {
    margin-left: 0.7em;
    margin-right: 0.7em;
    width: 100%;
  }

  .textDetailChallenge {
    opacity: 1;
    font-size: 1em;
    letter-spacing: 0.04em;
    color: #fff;
  }

  .marginRow {
    margin-bottom: 0.35em;
    // background-color: gray;
  }

  .imgGoldCoin {
    // margin-right: 0.4em;
    width: 1.35em;
    height: auto;
  }

  .textSmilePoint {
    vertical-align: middle;
  }

  .textPoint {
    height: 1.35em;
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    color: white;
  }

  .marginTextPoint {
    // background-color: yellow;
    width: 100%;
  }

  .imageChallenge {
    width: 5.5em;
    padding: 0.1em;
    position: relative;
  }

  .positionIcon {
    width: 2em;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .avatarProfileWidth {
    border-radius: 50%;
    width: 7.5em;
    border: 2px solid white;
    box-shadow: 1em 1em 3em -2em rgba(0, 0, 0, 0.75);
  }
}
