<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Search by username or email" (ionChange)="searchFriend($event)"></ion-searchbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="btnBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="fixedHeader topHeader">
  <div class="topCurve">
    <div class="segmentCenter">
      <div class="segmentBg">
        <ion-grid no-padding no-margin>
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin (click)="btnSegment(1)">
              <div [ngClass]="segmentSwitch1">Your Friends</div>
            </ion-col>
            <ion-col no-padding no-margin (click)="btnSegment(2)">
              <div [ngClass]="segmentSwitch2">Suggested</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

</div>



<ion-content class="mainContent">

  <ion-list *ngIf="segmentSwitch2 === 'segment_button_active'" class="peddingArea" no-padding no-margin>
    <ion-item (click)="goPendingRequestView()" no-padding no-margin>
      <ion-row>
        <ion-col>
            <span class="textPendingRequest">Pending requests</span>
        </ion-col>
        <ion-col class="center-right">
            <span class="yourFriendInvite">{{friendRequestMe}}</span> 
            <img src="assets/imgs/icons/icon_right_arrow.png" class="rightArrowIcon">
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <!-- <ion-row *ngIf="segmentSwitch2 === 'segment_button_active'">
    <ion-col>
      <button ion-button full (click)="goPendingRequestView()">goto Pending Request</button>
    </ion-col>
  </ion-row> -->

  <ion-list *ngFor="let record of showCardData;let i= index">
    <ion-item (click)="goFriendProfileView(record)">
      <ion-row no-padding no-margin>

        <ion-col no-padding no-margin col-3 class="center-center">
          <div class="center-center">
            <div class="avatarWidth">
              <img src="{{record.userImg}}">
            </div>
          </div>
        </ion-col>

        <ion-col no-padding no-margin style="align-self: center;">
          <div>
            <span class="yourFriendInvite">{{record.userName}}</span>
          </div>
          <div>
            <span class="minutesAgo">{{record.totalTxt}}</span>
          </div>

          <!-- {{record.userName}} {{record.totalTxt}} {{record.user_status}} -->
        </ion-col>

        <ion-col no-padding no-margin col-5 *ngIf="segmentSwitch2 === 'segment_button_active'" class="center-right">
            <div style="text-align: -webkit-right;
            margin-right: 1em;">
              <img src="assets/imgs/icons/circle_plus_icon.png" class="plusIcon">
            </div>
        </ion-col>


      </ion-row>

      <div class="lineSeperate"></div>
    </ion-item>
  </ion-list>

</ion-content>