<ion-header>
  <ion-toolbar>
    <ion-title>
      Success!
    </ion-title>
  </ion-toolbar>

  <div class="headerTop">
    <div class="topCurve">
      <div class="textFloatArea">
        <div class="textDescription">
          Your {{objDeviceBrand}} Account
          is linked to MTL HealthApp.
        </div>
        <div class="textTitle">
          Please allow 3-5 minutes for synced
          activities to appear on MTL HealthApp
        </div>
      </div>
    </div>
  </div>
</ion-header>


<ion-content class="mainContent">

  <div class="cardContentPadding">
    <ion-card *ngFor="let record of deviceData;let i= index" [ngClass]="record.status == 'N'?'active-item-color':''">

      <ion-row no-margin no-padding>
        <ion-col col-4 no-margin no-padding class="center-center">
          <div>
            <img src="{{record.deviceImage}}" class="imgDevice">
          </div>
        </ion-col>
        <ion-col no-margin no-padding class="center-center">

          <div>
            <img src="{{record.deviceBrandImage}}" class="imgLogo">
            <div class="textTitle "></div>

            <ion-row no-margin no-padding class="marginTextPoint">
              <ion-col no-margin no-padding class="center-right">
                <div *ngIf="record.status=='Y'" class="textLastSync">
                  Last sync:{{record.dateConnect}}
                </div>
              </ion-col>
            </ion-row>
            <ion-row no-margin no-padding class="marginTextPoint">
              <ion-col no-margin no-padding class="center-right">
                <div *ngIf="record.status=='Y'" class="textUnlink" (click)="btnUnlink(record)">
                  Unlink Device
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

</ion-content>


<ion-footer>

  <div class="footerPadding">
    <div class="connectDeviceButton center-center" (click)="btnDashboard()">
      <div class="textActivities">See your activities</div>
    </div>
  </div>

</ion-footer>