page-device-connected {

    background-color: #ffffff;

    .toolbar-background-md {
      border-color:transparent;
      background: #d30876;
  }
  
    .toolbar-title-md {
        padding-left: 1em;
    }

    .scroll-content {
      padding-top:0px!important;
      padding-bottom: 18.5em!important;
      margin-top: 0px!important;
      margin-bottom: 0px!important;

      @media only screen 
      and (min-device-width : 768px) 
      and (max-device-width : 1024px) 
      and (orientation : portrait)
      and (-webkit-min-device-pixel-ratio: 2)
      {
        padding-bottom: 19.5em!important;
      }
  
      @media only screen 
      and (min-width: 1024px) 
      and (max-height: 1366px) 
      and (-webkit-min-device-pixel-ratio: 1.5) {
        padding-bottom: 24em!important;
      }
  }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: white;
    }

    .toolbar-title-md {
        color: white;
    }

    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        width: 0;
    }

      .headerTop
      {
        width:100%;
        position:absolute;
        padding-top:1em;
      }

      .topCurve {
        position: absolute;
        top: 0px;
        width: 100%;
        display: block;
        background-color: #d30876;
        height: 10.5em;
        overflow: hidden;
        border-bottom-right-radius: 200vh 20vh;
        border-bottom-left-radius: 200vh 20vh;
        width: 106%;
        margin-left: -3%;
        margin-right: 3%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }

      .textFloatArea{
          width:90%;
          padding:0 1em 0 1em;
          margin:0 auto;
      }
      .textTitle{
        font-size: 1.1em;
        letter-spacing: 0.4px;
        color: #ffffff;
      }

    .textDescription{
        line-height: 1.1em;
        width:100%;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 1.8em;
        letter-spacing: 0.4px;
        color: #ffffff;
        margin-bottom: 0.5em;
  
        @media only screen 
        and (min-device-width : 768px) 
        and (max-device-width : 1024px) 
        and (orientation : portrait)
        and (-webkit-min-device-pixel-ratio: 2)
        {
          margin-left: 3em;
        }
      
        @media only screen 
        and (min-width: 1024px) 
        and (max-height: 1366px) 
        and (-webkit-min-device-pixel-ratio: 1.5) {
          margin-left: 3.5em;
        }
      }

    .text-header-wording{
        font-size: 2em;
        color: #ffffff;
    }

    .mainContent{
        // margin-top:15em!important; 
        margin-top:62%!important;   
      }

      .card-content-padding{
        margin-top:0.5em;
        margin-left:0.5em;
      }

      .card-padding{
        margin-top:0em;
        margin-bottom: 1em;
        
      }

      .card-md{
        border-radius: 0.8em;
        -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        width: calc(100% - 2em);
      }

      .imgDevice{
        margin-top:0.5em;
        margin-left:1em;
        margin-bottom:0.5em;
        margin-right:0.5em;
        width:85%;
  
        @media only screen 
        and (min-device-width : 768px) 
        and (max-device-width : 1024px) 
        and (orientation : portrait)
        and (-webkit-min-device-pixel-ratio: 2)
        {
          width:calc(25vw);
        }
      }

      .imgLogo{

      }

      .textLastSync{
          opacity: 0.4;
          font-size: 0.8em;
          color: #383838;
          margin-right: 2.5em;
      }

      .textUnlink{
        color: #00c0f2;
        font-size: 0.9em;
        font-weight: bold;
        margin-right: 2.2em;
      }

      .active-item-color{
        opacity: 0.4;
        }

          .connectDeviceButton{
            margin:0 auto;
            height: 2.3em;
            border-radius: 3em;
            font-size: 1.2em;
            color: white;
            background-color: #f0027f;
            width: 85%;
          }

          .footerPadding{
              padding-top: 0.5em;
              padding-bottom:0.5em;
              background-color: #ffffff;
          }

          .removeDevice{
            position: absolute;
            top:0.5em;
            left:0.5em;
          }

          .iconRemove{
            width:1.4em;
          }

          .textActivities{
            width:100%;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            font-size: 1.1em;
            letter-spacing: 0.4px;
            color: #ffffff;
            text-align: center;
          }

}
