<ion-list no-lines>
  <ion-item (click)="btnQR()">
    <div class="text-right">QR Code</div>
  </ion-item>
  <!-- <div class="line-seperate"></div>
  <ion-item (click)="btnEmail()">
    <div class="text-right">Email</div>
  </ion-item> -->
</ion-list>