<ion-toolbar class="topCurve">
</ion-toolbar>
<div class="fixedHeader headerTop" (swipe)="swipe($event)">

  <ion-grid no-padding no-margin class="gridLineChart">

    <ion-row class="positionTextMonth">
      <ion-col col-1>
      </ion-col>
      <ion-col text-center><span class="textWeek">{{periodTime}}</span>
      </ion-col>
    </ion-row>

    <ion-row no-padding no-margin>

      <ion-col>

        <ion-row no-padding no-margin>

          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col>
                <div class="indicatorBar">
                  <div class="complexView">
                    <div class="vbox" *ngIf="unit !=='STEPS'">
                      <div class="flex1 bottom-center">
                        <div class="indicatorText indicatorTextTop">120</div>
                        <!-- <div class="indicatorText ">2</div> -->
                      </div>
                      <div class="flex1 bottom-center">
                        <span class="indicatorText" style="padding-bottom: 0.5em;">90</span>
                      </div>
                      <div class="flex1 bottom-center">
                        <span class="indicatorText" style="padding-bottom: 0.5em;">60</span>
                      </div>
                      <div class="flex1 bottom-center">
                        <span class="indicatorText" style="padding-bottom: 0.3em;">30</span>
                      </div>
                      <div class="flex1 bottom-center">
                        <span class="indicatorText">0</span>
                      </div>
                    </div>

                    <div class="vbox" *ngIf="unit ==='STEPS'">
                      <div class="flex1 bottom-center">
                        <div class="indicatorText indicatorTextTop">18,000</div>
                        <!-- <div class="indicatorText ">15,000</div> -->
                      </div>
                      <div class="flex1 bottom-center">
                        <span class="indicatorText" style="padding-bottom:0.7em;">12,000</span>
                      </div>
                      <div class="flex1 bottom-center">
                        <span class="indicatorText" style="padding-bottom:0.5em;">6,000</span>
                      </div>
                      <div class="flex1 bottom-center">
                        <span class="indicatorText">0</span>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-col>
            </ion-row>

          </ion-col>

          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col text-center>
                <div class="singleBar">
                  <div class="bar">
                    <div [ngClass]="lines[0].value"></div>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="chartDateText">MON</div>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col>
                <div class="singleBar">
                  <div class="bar">
                    <div [ngClass]="lines[1].value"></div>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="chartDateText">TUE</div>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col>
                <div class="singleBar">
                  <div class="bar">
                    <div [ngClass]="lines[2].value"></div>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="chartDateText">WED</div>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col>
                <div class="singleBar">
                  <div class="bar">
                    <div [ngClass]="lines[3].value"></div>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="chartDateText">THU</div>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col>
                <div class="singleBar">
                  <div class="bar">
                    <div [ngClass]="lines[4].value"></div>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="chartDateText">FRI</div>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col>
                <div class="singleBar">
                  <div class="bar">
                    <div [ngClass]="lines[5].value"></div>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="chartDateText">SAT</div>
              </ion-col>
            </ion-row>
          </ion-col>


          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col>
                <div class="singleBar">
                  <div class="bar">
                    <div [ngClass]="lines[6].value"></div>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="chartDateText">SUN</div>
              </ion-col>
            </ion-row>
          </ion-col>

        </ion-row>


      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col class="iconRight">
          <img  src="assets/imgs/icons/icon_step.png" (click)="getStep()" [ngClass]="iconStepScale">
        <!-- <img  src="assets/imgs/icons/icon_step.png" (click)="getStep()" class="iconResize" [ngClass]="iconStepScale"> -->
      </ion-col>
      <ion-col class="iconLeft">
          <img src="assets/imgs/icons/icon_workout.png" (click)="getWorkout()" [ngClass]="iconWorkoutScale">
        <!-- <img src="assets/imgs/icons/icon_workout.png" (click)="getWorkout()" class="iconResize" [ngClass]="iconWorkoutScale"> -->
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
  </ion-grid>

</div>
<ion-content fullscreen #mycontent class="mainContent" #pageTop>

  <div class="cardMainPadding">
    <ion-card>
      <ion-card-header>
        {{titlePage}}
      </ion-card-header>
      <div class="scrollPositionList">
        <ion-scroll scrollY="true">
          <ion-list *ngFor="let record of objHistory;let i= index" (swipe)="swipe($event)">
            <ion-item (click)="changeData(record)">
              <ion-row no-padding no-margin>
                <ion-col no-padding no-margin col-8>
                  <span class="dateWeekText">{{record.periodTime}}</span>
                </ion-col>
                <ion-col no-padding no-margin>
                  <ion-row no-padding no-margin>
                    <ion-col no-padding no-margin text-right *ngIf="unit !=='STEPS'">
                      <span class="dataText">{{record.totalExercise}}</span>
                      &nbsp;
                      <span class="unitText">{{unit}}</span>
                    </ion-col>

                    <ion-col no-padding no-margin text-right *ngIf="unit ==='STEPS'">
                      <span class="dataText">{{record.totalStep}}</span>
                      &nbsp;
                      <span class="unitText">{{unit}}</span>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <div class="lineSeperate" *ngIf="i != (objHistory.length)-1"></div>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </div>
      <!-- <div class="scrollPositionList">
        <ion-scroll scrollY="true">
          <ion-list *ngFor="let record of mockupData;let i= index" (swipe)="swipe($event)">
            <ion-item>
              <ion-row no-padding no-margin>
                <ion-col no-padding no-margin col-8>
                  <span class="dateWeekText">{{record.title}}</span>
                </ion-col>
                <ion-col no-padding no-margin>
                  <ion-row no-padding no-margin>
                    <ion-col no-padding no-margin text-right>
                      <span class="dataText">{{record.data}}</span>
                      &nbsp;
                      <span class="unitText">{{unit}}</span>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <div class="lineSeperate" *ngIf="i != (mockupData.length)-1"></div>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </div> -->
    </ion-card>
  </div>
</ion-content>
