page-history {
  background-color: #fafbfd;

  .fixedHeader {
    margin-top: 2.68em;

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      margin-top: 4.5em;
    }

    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
      margin-top: 5em;
    }
  }

  .scroll-content {
    padding-top: 0px !important;
    margin-bottom: 1em !important;
  }

  .scrollPositionList {
    height: 40vh; //calc(100vh - 70vh);
    // height: calc(110vh - 41em);
    // height: calc(100vh - 29.7em);

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      height: calc(100vh - 33.2em);
    }

    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
      height: calc(100vh - 33.2em);
    }
  }

  ion-scroll {
    white-space: nowrap;
    height: 100%;
  }

  .headerTop {
    width: 100%;
    position: absolute;
    background: #fafbfd;
    // padding-top:1em;
    padding-top: 7%;
  }

  .headerMargin {
    margin: 1.5em;
  }

  .mainContent {
    background-color: #fafbfd;
    // margin-top:21.9em!important;
    margin-top: 27em !important;

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      margin-top: 24.9em !important;
    }

    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
      margin-top: 17.9em !important;
    }
  }

  .image-scale-normal {
    // -webkit-filter: drop-shadow(0px 0px 5px #d4d5d6);
    // filter: drop-shadow(0px 0px 5px #d4d5d6);
    -webkit-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }

  .image-scale-up {
    // -webkit-filter: drop-shadow(0px 0px 5px #d4d5d6);
    // filter: drop-shadow(0px 0px 5px #d4d5d6);
    -webkit-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
  }

  // .iconResize{
  //   width:3.7em;
  // }

  .iconRight {
    text-align: right;
    margin-top: 0.5em;
    margin-right: 0.8em;
    vertical-align: middle;
  }

  .iconLeft {
    text-align: left;
    margin-top: 0.5em;
    margin-left: 0.8em;
    vertical-align: middle;
  }

  .dateWeekText {
    color: #4a4a4a;
    font-size: 0.9em;
  }

  .dataText {
    color: #4a4a4a;
    font-size: 0.9em;
    font-weight: bold;
  }
  .unitText {
    color: #9b9b9b;
    font-size: 0.7em;
    font-weight: 500;
  }

  .label-md {
    margin: 0 8px 13px 0;
  }

  .lineSeperate {
    margin-top: 0.3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .card-header-md {
    font-size: 1.1em;
    font-weight: 500;
    color: #4a4a4a;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }

  .card-md {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;

    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }

  .gridLineChart {
    width: 90%;
    margin: 0 auto;

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      width: 70%;
    }

    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
      width: 60%;
    }
  }

  .positionTextMonth {
    margin-top: 2.5em;
    margin-bottom: 0.5em;
  }

  .textWeek {
    color: rgba(56, 56, 56, 0.6);
    font-size: 1em;
    // font-weight: bold;
    text-transform: uppercase;
  }

  .verticalChart {
    width: 100%;
  }

  .singleBar {
    width: 0.8em;
    margin: 0 auto;
  }

  .indicatorBar {
    width: 2.5em;
    height: 7em;
  }

  .indicatorText {
    color: #9b9b9b;
    font-size: 0.75em;
  }

  .indicatorTextTop {
    position: absolute;
    // top:-1em;
    top: -0.1em;
  }
  //########
  .indicatorStepCenter {
    display: -webkit-flex;
    display: flex;
    /*left-right*/
    -webkit-justify-content: center;
    justify-content: center;
  }
  //########

  .bar {
    border-radius: 20px;
    position: relative;
    height: 7em;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .chartDateText {
    text-align: center;
    font-size: 0.8em;
    color: rgba(56, 56, 56, 0.54);
  }

  @mixin gen-bar {
    @for $i from 1 through 100 {
      .chart-color1-h#{$i} {
        height: 0% + ($i);
        background: #29aed7;
        @extend %chart-styles;
      }
    }

    @for $i from 1 through 100 {
      .chart-color2-h#{$i} {
        height: 0% + ($i);
        background: #72bb6f;
        @extend %chart-styles;
      }
    }
  }

  %chart-styles {
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: 0.5s linear;
    transition-property: height, background-color;
  }

  @include gen-bar;
}

.topCurve {
  position: absolute;
  top: 0px;
  width: 100%;
  display: block;
  background-color: #d30876;
  height: 5.6em;
  overflow: hidden;
  border-bottom-right-radius: 200vh 20vh;
  border-bottom-left-radius: 200vh 20vh;
  width: 106%;
  margin-left: -3%;
  margin-right: 3%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    height: 6.5em;
  }

  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    height: 7.5em;
  }


}
  .cardMainPadding {
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 27em !important;
  }

.colorExercise {
  color: #1a8016; //#72bb6f;
}

.colorStep {
  color: #0056ed//#488aff;
}

.dateWeekTextDetail {
  font-size: 0.9em;
}

.dataTextDetail {
  font-size: 0.9em;
  font-weight: bold;
}

.unitTextDetail {
  font-size: 0.7em;
  font-weight: 500;
}

.segmentCenterHistory {
  margin-top: 3px;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.segmentBgHistory {
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.15);
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.3em;
  color: white;
  width: 100%;
  margin: 0 auto;
}

.segment_button_active_history {
  border-radius: 2em;
  background-color: white;
  padding: 0.3em;
  color: #d30876;
  -webkit-animation: fade_in 0.3s;
  animation: fade_in 0.3s;
  font-size: 1em;
  font-weight: bold;
}

.marginSegmentTopHistory {
  margin-top: 0.2em;
}

.segment_button_inactive_history {
  border-radius: 2em;
  background-color: transparent;
  padding: 0.25em;
  text-align: center;
  color: white;
  font-weight: bold;
}

@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes expanded_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.action-sheet-md .action-sheet-group:last-child {
  padding-bottom: 0.8rem;
  display: none;
}

.select-md {
  padding: 0.5em !important;
  border-radius: 2em;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  width: 100%;
}

ion-select {
  max-width: 50%;
}

.select-text {
  text-align: center;
  font-weight: bold;
}

.select-md .select-icon {
  margin-right: 1.5em;
}

.customActionSheet {
  text-align: center;
  // max-width: 50%;
  max-width: 60%;
  padding: 0.2em !important;
  border-radius: 2em;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  width: 80%;
  .displayTextInside{
    font-weight: bold
  }

  .iconArrowDown{
    width:0.8em;
  }
}

.action-sheet-button {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;;
}

ion-action-sheet {
  ion-icon {
    width: 3.5rem;
    height: 3.5git rem;
  }

  .ion-ios-steps,
  .ion-md-steps {
    content: url(../assets/imgs/icon_svg/steps.svg);
  }

  .ion-ios-exercise,
  .ion-md-exercise {
    content: url(../assets/imgs/icon_svg/exercise.svg);
  }

  .ion-ios-bike,
  .ion-md-bike {
    content: url(../assets/imgs/icon_svg/bike.svg);
  }

  .ion-ios-running,
  .ion-md-running {
    content: url(../assets/imgs/icon_svg/running.svg);
  }

  .ion-ios-swimming,
  .ion-md-swimming {
    content: url(../assets/imgs/icon_svg/swimming.svg);
  }

  .ion-ios-other,
  .ion-md-other {
    content: url(../assets/imgs/icon_svg/other.svg);
  }

  .ion-ios-friends,
  .ion-md-friends {
    content: url(../assets/imgs/icon_svg/friends.svg);
  }

  .ion-ios-group,
  .ion-md-group {
    content: url(../assets/imgs/icon_svg/group.svg);
  }
  

  
 
}
