<ion-toolbar class="topCurve">
</ion-toolbar>
<div class="fixedHeader headerTop">

  <ion-grid no-padding no-margin class="gridLineChart">

    <ion-row class="positionTextMonth">
      <ion-col col-1>
      </ion-col>
      <!-- <ion-col text-center><span class="textWeek">{{periodInfo}}</span></ion-col> -->
    </ion-row>

    <ion-row no-padding no-margin>

      <ion-col>

        <ion-row no-padding no-margin>

          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col>
                <div class="indicatorBar">
                  <div class="complexView">
                    <div class="vbox">
                      <div class="flex1 bottom-center">
                        <div class="indicatorText indicatorTextTop">{{indicator5}}</div>
                      </div>
                      <div class="flex1 bottom-center">
                        <span class="indicatorText" style="padding-bottom: 0.5em;">{{indicator4}}</span>
                      </div>
                      <div class="flex1 bottom-center">
                        <span class="indicatorText" style="padding-bottom: 0.5em;">{{indicator3}}</span>
                      </div>
                      <div class="flex1 bottom-center">
                        <span class="indicatorText" style="padding-bottom: 0.3em;">{{indicator2}}</span>
                      </div>
                      <div class="flex1 bottom-center">
                        <span class="indicatorText">{{indicator1}}</span>
                      </div>
                    </div>

                    <!-- <div class="vbox" *ngIf="unit ==='STEPS'">
                      <div class="flex1 bottom-center">
                        <div class="indicatorText indicatorTextTop">10,000</div>
                      </div>
                      <div class="flex1 bottom-center">
                        <span class="indicatorText" style="padding-bottom:0.7em;">6,000</span>
                      </div>
                      <div class="flex1 bottom-center">
                        <span class="indicatorText" style="padding-bottom:0.5em;">3,000</span>
                      </div>
                      <div class="flex1 bottom-center">
                        <span class="indicatorText">0</span>
                      </div>
                    </div> -->
                  </div>
                </div>
              </ion-col>
            </ion-row>

          </ion-col>

          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col text-center>
                <div class="singleBar">
                  <div class="bar">
                    <div [ngClass]="lines[0].value"></div>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="chartDateText">{{chartTxt1}}</div>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col>
                <div class="singleBar">
                  <div class="bar">
                    <div [ngClass]="lines[1].value"></div>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="chartDateText">{{chartTxt2}}</div>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col>
                <div class="singleBar">
                  <div class="bar">
                    <div [ngClass]="lines[2].value"></div>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="chartDateText">{{chartTxt3}}</div>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col>
                <div class="singleBar">
                  <div class="bar">
                    <div [ngClass]="lines[3].value"></div>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="chartDateText">{{chartTxt4}}</div>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col>
                <div class="singleBar">
                  <div class="bar">
                    <div [ngClass]="lines[4].value"></div>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="chartDateText">{{chartTxt5}}</div>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col>
                <div class="singleBar">
                  <div class="bar">
                    <div [ngClass]="lines[5].value"></div>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="chartDateText">{{chartTxt6}}</div>
              </ion-col>
            </ion-row>
          </ion-col>


          <ion-col no-padding no-margin>
            <ion-row>
              <ion-col>
                <div class="singleBar">
                  <div class="bar">
                    <div [ngClass]="lines[6].value"></div>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="chartDateText">{{chartTxt7}}</div>
              </ion-col>
            </ion-row>
          </ion-col>

        </ion-row>


      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col class="iconRight">
        <img src="assets/imgs/icons/icon_step.png" (click)="getStep()" [ngClass]="iconStepScale">
        <!-- <img  src="assets/imgs/icons/icon_step.png" (click)="getStep()" class="iconResize" [ngClass]="iconStepScale"> -->
      </ion-col>
      <ion-col class="iconLeft">
        <img src="assets/imgs/icons/icon_workout.png" (click)="getWorkout()" [ngClass]="iconWorkoutScale">
        <!-- <img src="assets/imgs/icons/icon_workout.png" (click)="getWorkout()" class="iconResize" [ngClass]="iconWorkoutScale"> -->
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="segmentCenterHistory">
          <div class="segmentBgHistory">
            <ion-grid no-padding no-margin>
              <ion-row no-padding no-margin>
                <ion-col no-padding no-margin (click)="btnSegment(1)">
                  <div [ngClass]="segmentSwitch1" class="center-center">
                    <div class="marginSegmentTopHistory">Weekly</div>
                  </div>
                </ion-col>
                <ion-col no-padding no-margin (click)="btnSegment(2)">
                  <div [ngClass]="segmentSwitch2" class="center-center">
                    <div class="marginSegmentTopHistory">Monthly</div>
                  </div>
                </ion-col>
                <ion-col no-padding no-margin (click)="btnSegment(3)">
                  <div [ngClass]="segmentSwitch3" class="center-center">
                    <div class="marginSegmentTopHistory">Yearly</div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>
<ion-content fullscreen #mycontent class="mainContent" #pageTop>



  <ion-row *ngIf="actionSheetStatus === true">
    <ion-col class="center-center">
      <div class="customActionSheet" (click)="presentActionSheet()">
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col col-8 class="center-center"><span class="displayTextInside">{{actionSheetSelected}}</span></ion-col>
          <ion-col col-2 class="center-center"><img src="assets/imgs/icons/icon_arrow-down.png" class="iconArrowDown">
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>


  <div class="cardMainPadding">
    <ion-card>
      <ion-card-header>
        {{titlePage}}
      </ion-card-header>
      <!-- <div class="scrollPositionList"> -->
        <!-- <ion-scroll scrollY="true"> -->
          <ion-list *ngFor="let record of objHistory;let i= index">
            <ion-item (click)="changeData(record,i)">
              <ion-row no-padding no-margin>
                <ion-col no-padding no-margin col-8>
                  <span class="dateWeekText">{{record.showPeriod}}</span>
                </ion-col>
                <ion-col no-padding no-margin>
                  <ion-row no-padding no-margin>
                    <ion-col no-padding no-margin text-right>
                      <span class="dataText">{{record.result}}</span>
                      <!-- &nbsp; -->
                      <!-- <span class="unitText">{{unit}}</span> -->
                    </ion-col>

                    <!-- <ion-col no-padding no-margin text-right *ngIf="unit ==='STEPS'">
                      <span class="dataText">{{record.totalStep}}</span>
                      &nbsp;
                      <span class="unitText">{{unit}}</span>
                    </ion-col> -->
                  </ion-row>
                </ion-col>
              </ion-row>    
              
              <div no-padding no-margin *ngIf="showIndexOf==i && showDetailStatus==true">
                <ion-item style="margin-bottom: -11px;" *ngFor="let detail of objDetail">
                  <ion-row>
                    <ion-col no-padding no-margin col-8>
                      <span [ngClass]="dateWeekTextDetail">{{detail.showPeriod}}</span>
                    </ion-col>
                    <ion-col no-padding no-margin text-right>
                      <span [ngClass]="dataTextDetail">{{detail.result}}</span>       
                    </ion-col>
                  </ion-row>
                </ion-item>
              </div>


              <!-- <div no-padding no-margin *ngIf="showIndexOf==i && showDetailStatus==true && unit==='STEPS'">
                <ion-item style="margin-bottom: -11px;" *ngFor="let detail of record.lsStepPerWeek">
                  <ion-row>
                    <ion-col no-padding no-margin col-8>
                      <span [ngClass]="dateWeekTextDetail">{{detail.activityDate}}</span>
                    </ion-col>
                    <ion-col no-padding no-margin text-right>
                      <span [ngClass]="dataTextDetail">{{detail.stepTotalDisplay}}</span>
                      &nbsp;
                      <span [ngClass]="unitTextDetail">{{unit}}</span>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </div>

              <div no-padding no-margin *ngIf="showIndexOf==i && showDetailStatus==true && unit!=='STEPS'">
                <ion-item style="margin-bottom: -11px;" *ngFor="let detail of record.lsExercise">
                  <ion-row>
                    <ion-col no-padding no-margin col-8>
                      <span [ngClass]="dateWeekTextDetail">{{detail.activityDate}}</span>
                    </ion-col>
                    <ion-col no-padding no-margin text-right>
                      <span [ngClass]="dataTextDetail">{{detail.exerciseTotal}}</span>
                      &nbsp;
                      <span [ngClass]="unitTextDetail">{{unit}}</span>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </div> -->

              <div class="lineSeperate" *ngIf="i != (objHistory.length)-1"></div>
            </ion-item>
          </ion-list>
        <!-- </ion-scroll> -->
      <!-- </div> -->
      <!-- <div class="scrollPositionList">
        <ion-scroll scrollY="true">
          <ion-list *ngFor="let record of mockupData;let i= index" (swipe)="swipe($event)">
            <ion-item>
              <ion-row no-padding no-margin>
                <ion-col no-padding no-margin col-8>
                  <span class="dateWeekText">{{record.title}}</span>
                </ion-col>
                <ion-col no-padding no-margin>
                  <ion-row no-padding no-margin>
                    <ion-col no-padding no-margin text-right>
                      <span class="dataText">{{record.data}}</span>
                      &nbsp;
                      <span class="unitText">{{unit}}</span>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <div class="lineSeperate" *ngIf="i != (mockupData.length)-1"></div>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </div> -->
    </ion-card>
  </div>
</ion-content>