<div class="fixedHeader topHeader">
  <div class="topCurveChallenge">
    <div class="segmentCenter">
      <div class="segmentBg">
        <ion-grid no-padding no-margin>
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin (click)="btnSegment(1)">
              <div [ngClass]="segmentSwitch1">History</div>
            </ion-col>
            <ion-col no-padding no-margin (click)="btnSegment(2)">
              <div [ngClass]="segmentSwitch2">Ongoing</div>
            </ion-col>
            <ion-col no-padding no-margin (click)="btnSegment(3)">
              <div [ngClass]="segmentSwitch3">Upcoming</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</div>

<ion-content class="mainContent">
  <div class="cardContentPadding">
    <div class="titleChallengeSegment">Your Challenges</div>

    <div class="imageRankMain" *ngFor="let record of showCardData;let i= index">
      <div
        class="triangle-topright"
        *ngIf="segmentSwitch1 == 'segment_button_active'"
      ></div>
      <div
        class="positionRank"
        *ngIf="segmentSwitch1 == 'segment_button_active'"
      >
        <span
          class="textRank center-center"
          *ngIf="segmentSwitch1 == 'segment_button_active'"
        >
          {{ record.rank === null ? '324' : record.rank }}
        </span>
      </div>

      <ion-card class="cardPaddingChallenge" (click)="btnShowDetail(record)">
        <ion-row no-margin no-padding>
          <ion-col col no-margin no-padding col-3>
            <img src="{{record.challengeImage}}" class="imageChallengeWidth" />
          </ion-col>
          <ion-col col no-margin no-padding col-9>
            <ion-row no-margin no-padding>
              <ion-col col no-margin no-padding>
                <div class="textHeaderChallenge">
                  {{record.challengeName}}
                </div>
              </ion-col>
            </ion-row>

            <ion-row no-margin no-padding class="marginRow">
              <ion-col col no-margin no-padding>
                <span class="textDetailChallenge">Hosted by</span>
                <span class="textDetailCreateBy">{{record.createBy}}</span>

                <div class="textDetailChallenge">
                  {{record.allMember}} members
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <div class="lineSeparate"></div>

        <ion-row no-margin no-padding>
          <ion-col col no-margin no-padding col-5>
            <div class="textDetailChallenge">
              REWARD
            </div>
            <div class="textDetailOwner">
              {{record.rewardTxt}}
            </div>
          </ion-col>
          <ion-col col-7 col no-margin no-padding>
            <div class="textDetailChallenge">
              PERIOD
            </div>
            <div class="textDetailOwner">
              {{record.startDate}} - {{record.endDate}}
            </div>
          </ion-col>
        </ion-row>
        <div
          class="marginRow"
          *ngIf="segmentSwitch2 == 'segment_button_active'"
        ></div>
        <ion-row
          no-margin
          no-padding
          *ngIf="segmentSwitch2 == 'segment_button_active' && record.ownerStatus=='N' && record.joinStatus=='N'"
        >
          <ion-col col no-margin no-padding>
            <div class="buttonReject center-center" (click)="btnReject(record)">
              <div>Reject</div>
            </div>
          </ion-col>
          <ion-col col no-margin no-padding class="">
            <div class="buttonJoin center-center" (click)="btnJoin(record)">
              <div>Join</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
  <!-- <ion-fab right center #fab>
    <button ion-fab color="pink" mini (click)="btnCreateChallenge()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab> -->
</ion-content>
