page-challenge-dashboard {
  background-color: #fafafa;

  .fab[mini] {
    opacity: 0.8;
  }

  ion-fab[center] {
    top: -5.5em;
    left: 92.5%;
  }

  .scroll-content {
    padding-top: 0px !important;
    // padding-bottom: 17em !important;
    margin-top: 0px !important;
  }

  .fixedHeader {
    margin-top: 43px;
  }

  .topHeader {
    height: 100px;
    width: 100%;
  }

  .imageHeader {
    margin: 0 auto;
    top: 4.5em;
    height: 7.5em;
    width: 100%;
    position: absolute;
    background-color: #d30876;
  }

  .avatarProfileWidth {
    height: 100%;
  }

  .topCurveChallenge {
    margin-top: 4.5em !important;
    position: relative;
    bottom: 0px;
    width: 100%;
    display: block;
    background-color: #d30876;
    height: 54px;
    overflow: hidden;
    border-bottom-right-radius: 300vh 30vh;
    border-bottom-left-radius: 300vh 30vh;
    width: 106%;
    margin-left: -3%;
    margin-right: 3%;
    box-shadow: 5px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .toolbar-margin {
    height: 14.5em;
  }

  .margin-spacer {
    margin-left: 1em;
    height: 100%;
  }

  .mainContent {
    margin-top: 8.5em !important;
    background-color: #fafafa;
  }

  .segmentCenter {
    margin-top: 3px;
    margin-left: 2em;
    margin-right: 2em;
    height: 160px;
  }

  .segmentBg {
    border-radius: 2em;
    background-color: rgba(0, 0, 0, 0.15);
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.2em;
    color: white;

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      width: 60%;
      margin: 0 auto;
    }

    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
      width: 60%;
      margin: 0 auto;
    }
  }

  .segment_button_active {
    border-radius: 2em;
    background-color: white;
    padding: 0.25em;
    text-align: center;
    color: #d30876;
    -webkit-animation: fade_in 0.3s;
    animation: fade_in 0.3s;
    font-size: 1em;
    font-weight: bold;
  }

  .segment_button_inactive {
    border-radius: 2em;
    background-color: transparent;
    padding: 0.25em;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .toolbar-content-md {
    height: 4.5em;
    padding: 0.2em;
    border-top: 3px solid #d8127d;
  }

  .list-md {
    margin: 0;
  }

  .toolbar-md {
    padding: 0;
  }

  .animateLogo {
    position: absolute;
    animation-name: fade1;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
  }

  @keyframes fade1 {
    0% {
      opacity: 1;
      //   transform: translateX(0%);
    }
    25% {
      opacity: 0.5;
      // transform: translateX(100%);
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      //   transform: translateX(100%);
    }
  }

  .cardContentPadding {
    margin: 0em 0.5em 10em 1em;
  }

  .card-md {
    border-radius: 0.8em;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }

  .cardPaddingChallenge {
    padding: 1.2em;
  }

  .imageChallengeWidth {
    border-radius: 50%;
    width: 4em;
  }

  .textHeaderChallenge {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: 0.08em;
    color: #4a4a4a;
  }

  .textDetailChallenge {
    opacity: 0.8;
    font-size: 1em;
    letter-spacing: 0.04em;
    color: #000000;
  }

  .textDetailCreateBy{
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.04em;
    color: #000000;
  }

  .textDetailOwner {
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.04em;
    color: #4a4a4a;
  }

  .lineSeparate{
    width:4em;
    height: 0.19em;
    background-color: #fafbfd;
    margin-bottom: 0.8em;
  }

  .titleChallengeSegment{
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0.8em;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    color: #383838;
  }

  .marginRow {
    margin-bottom: 1em;
  }

  .iconArrow {
    width: 2em;
  }

  .buttonJoin {
    height: 2.2em;
    border-radius: 2em;
    font-size: 1.1em;
    color: white;
    background-color: #2fa2d6;
    width: 100%;
    font-weight: bold;
  }

  .buttonReject {
    height: 2.2em;
    font-size: 1.1em;
    color: #2fa2d6;
    background-color: transparent;
    width: 100%;
    font-weight: bold;
  }

  .imageRankMain {
    // padding:0.1em;
    position: relative;
  }

  .positionRank {
    width: 3.5em;
    height: 1.8em;
    position: absolute;
    top: 1.2em;
    left: 0em;
    background-color: #2fa2d6;
    z-index: 2;
  }

  .textRank {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }

  .triangle-topright {
    position: absolute;
    top: 3em;
    left: 0em;
    width: 0;
    height: 0;
    border-top: 0.7em solid #b60667;
    border-left: 0.7em solid transparent;
  }

  ion-slides {
    display: block;
    width: 100%;
    height: 15em;
  }
}
