page-condition {

  .center-right {

    display: -webkit-flex;
    display: flex;
  
    /*up - down*/
    align-items: center;
    -webkit-align-items: center;
  
    /*left-right*/
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  .iconSize {
    font-size: 30px;
  }
  .nextText{
    height: 32px;
    left: 36.09%;
    right: 35.43%;
    top: calc(50% - 32px/2 + 3px);

    font-family: KaLaTeXa Text;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.466667px;

    color: #FFFFFF;
  }
  .center {
    height: 100px;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .textCenter {
    text-align: center;
    font-family: 'kalatexatext';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    padding-top: 5px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.466667px;

    color: #FFFFFF;
  }
  .welcomButton{
    bottom: 0%;

    width: 151px;
    height: 40px;

    background: #2FA2D6;
    border-radius: 20px;
  }

}
  