<ion-content class="mainContent">
  <div style="margin-top: 20px;margin-right: 20px;">
    <ion-icon name="close-circle" class="center-right iconSize" (click)="btnBack()"></ion-icon>
  </div>
  <div style="width: 310px;
  height: 76px;

  font-family: KaLaTeXa Text;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.35px;
  margin-left: 40px;
  
  color: #383838;">

ข้อตกลงและเงื่อนไขการใช้บริการ MTL HEALTH

  </div>
  <div style="width: 327px;
  height: 1900px;
  margin-left: 40px;
  margin-top: 21px;
  
  font-family: KaLaTeXa Text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.35px;">
    HEALTH (“แอปพลิเคชัน”) มีผลบังคับระหว่างบริษัท เมืองไทยประกันชีวิต จำกัด (มหาชน) ซึ่งต่อไปในข้อตกลงนี้จะเรียกว่า “บริษัท” กับ ผู้เข้าร่วมโครงการ MTL HEALTH ซึ่งต่อไปใน ข้อตกลงนี้จะเรียกว่า “ผู้เข้าร่วมโครงการ” โดยมีรายละเอียดดังต่อไปนี้
บททั่วไป
เมื่อผู้เข้าร่วมโครงการ ลงทะเบียนเข้าใช้บริการแอปพลิเคชันโดยการเลือก “ตกลง” เรียบร้อยแล้ว ถือว่าผู้เข้าร่วมโครงการ ได้รับทราบและยอมรับข้อตกลงและเงื่อนไขทั้งหมดนี้แล้ว ทั้งนี้ บริษัทขอสงวนสิทธิ์ในการแก้ไขหรือเปลี่ยนแปลงข้อตกลงและเงื่อนไขการใช้บริการแอปพลิเคชันได้ตลอดเวลาตามดุลยพินิจของบริษัท
ผู้เข้าร่วมโครงการตกลงยินยอมให้บริษัทจัดเก็บ รวบรวมและใช้ข้อมูลที่เกิดจากการที่ผู้เข้าร่วมโครงการเข้าใช้งาน แอปพลิเคชัน รวมทั้งการเปิดเผยข้อมูลของผู้เข้าร่วมโครงการต่อบุคคลที่สาม ทั้งนี้ เพื่อวัตถุประสงค์ในการทำการตลาด การติดต่อสื่อสาร การเสนอขายผลิตภัณฑ์ต่างๆ การจัดทำสถิติ การจัดทำแบบสอบถามหรือการสำรวจเกี่ยวกับธุรกิจหรือกิจกรรมหรือเพื่อการอื่นใดตามที่บริษัทเห็นว่าจะเป็นประโยชน์แก่ผู้เข้าร่วมโครงการ
ผู้เข้าร่วมโครงการมีสิทธิในการเข้าถึงข้อมูลและใช้บริการแอปพลิเคชันที่แตกต่างกันตามสถานะของผู้เข้าร่วมโครงการ
บริษัทขอสงวนสิทธิ์ไม่รับผิดชอบในความเสียหายใดๆ หรือการไม่สามารถทำงานได้ตามปกติของอุปกรณ์ของผู้เข้าร่วมโครงการที่เกิดขึ้นจากการติดตั้งแอปพลิเคชัน หรือการใช้งานใดๆ บนแอปพลิเคชันนี้
ข้อมูลบนแอปพลิเคชั่นไม่ใช่คำแนะนำทางการแพทย์หรือการวินิจฉัยโรค หากท่านมีข้อสงสัยเกี่ยวกับสุขภาพของท่าน ท่านควรปรึกษาแพทย์ผู้เชี่ยวชาญเสมอ
เนื้อหา แนวคิด รูปภาพ สัญลักษณ์ ตัวอักษร กราฟฟิก การออกแบบ ข้อมูลทั้งหมด และทรัพย์สินทางปัญญาทุกชนิดที่บริษัทได้สร้างสรรค์ขึ้นตามที่ปรากฎในแอปพลิเคชันนี้ ถือเป็นกรรมสิทธิ์และลิขสิทธิ์ของบริษัท โดยผู้เข้าร่วมโครงการตกลงไม่ทำซ้ำหรือดัดแปลง เผยแพร่ต่อสาธารณชน ขายหรือแจกจ่ายในลักษณะที่อาจก่อให้เกิดความเสียหายแก่บริษัท และ/หรือกระทำการอื่นใดอันเป็นการละเมิดทรัพย์สินทางปัญญาของบริษัท ไม่ว่าจะส่วนหนึ่งส่วนใด หรือทั้งหมดของแอปพลิเคชันนอกเหนือจากการใช้งานตามปกติส่วนบุคคล
กรณีที่บริษัทมีความจำเป็นต้องเปิดเผยข้อมูล หรือธุรกรรมที่เกี่ยวข้องกับการใช้บริการของผู้เข้าร่วมโครงการให้แก่หน่วยงานของรัฐภายใต้บทบัญญัติของกฎหมาย คำสั่ง หรือกฎระเบียบของรัฐ ผู้เข้าร่วมโครงการตกลงยินยอมให้บริษัทเปิดเผย หรือรายงานข้อมูล และ/หรือจัดทำรายงานเกี่ยวกับผู้เข้าร่วมโครงการมอบให้แก่เจ้าหน้าที่ หรือหน่วยงานของรัฐได้ทุกประการ
บริษัทตระหนักและให้ความสำคัญสูงสุดถึงความปลอดภัยในข้อมูลของผู้เข้าร่วมโครงการและพร้อมยึดถือปฏิบัติตามกรอบข้อบังคับของกฎหมายด้านการดูแลรักษาข้อมูล ทั้งนี้ ผู้เข้าร่วมโครงการมีสิทธิในการเลือกที่จะให้หรือปฏิเสธการให้ข้อมูลส่วนบุคคลตามที่บริษัทร้องขอ อย่างไรก็ตามการปฏิเสธไม่ให้ข้อมูลดังกล่าวอาจมีผลต่อข้อจำกัดในการใช้บริการต่างๆ ของบริษัทเช่นกัน
ในกรณีที่ผู้เข้าร่วมโครงการใช้บริการโดยผ่านเว็บไซต์หรือโปรแกรมของบริษัทพันธมิตรหรือบุคคลที่สามผ่านทาง แอปพลิเคชัน ผู้เข้าร่วมโครงการอาจถูกร้องขอให้เปิดเผยข้อมูลส่วนบุคคลหรือปฏิบัติตามข้อตกลงและเงื่อนไขในการใช้งานของบริษัทพันธมิตรหรือบุคคลที่สามดังกล่าว โดยบริษัทไม่มีส่วนเกี่ยวข้องในธุรกรรมระหว่างท่านกับบริษัทพันธมิตรหรือบุคคลที่สามดังกล่าวใดๆ ทั้งสิ้น
บรรดาหนังสือบอกกล่าว หรือการแจ้งคำบอกกล่าวใดๆ ที่บริษัทส่งให้ผู้เข้าร่วมโครงการ ตามที่อยู่ หรือ หมายเลขโทรศัพท์มือถือ หรือ อีเมล ที่ผู้เข้าร่วมโครงการได้แจ้งไว้กับบริษัทนั้น ให้ถือว่าเป็นการส่งโดยชอบและผู้เข้าร่วมโครงการได้รับทราบเรียบร้อยแล้ว ในกรณีที่ผู้เข้าร่วมโครงการ มีการเปลี่ยนแปลงที่อยู่ หรือ หมายเลขโทรศัพท์มือถือ หรือ อีเมล จะต้องแจ้งให้บริษัททราบทันที หากผู้เข้าร่วมโครงการมิได้แจ้งการเปลี่ยนแปลงดังกล่าว ให้ถือว่าการส่งคำบอกกล่าวไปยังที่อยู่ หรือ หมายเลข โทรศัพท์มือถือหรืออีเมลเดิม เป็นการส่งโดยชอบแล้ว
กรณีมีเงื่อนไขข้อใดข้อหนึ่งในข้อตกลงและเงื่อนไขการใช้บริการ MTL HEALTH ขัดต่อกฎหมายหรือไม่มีผลใช้บังคับ ให้ถือว่าเงื่อนไขนั้น ๆ เป็นโมฆะเฉพาะส่วนที่ขัดต่อกฎหมายหรือไม่มีผลใช้บังคับเท่านั้น แต่เงื่อนไขส่วนอื่นยังคงมีผลใช้บังคับอยู่อย่างสมบูรณ์ และผู้เข้าร่วมโครงการยังคงผูกพันภายใต้เงื่อนไขที่เหลือดังกล่าวนี้
  </div>
  <div class="center">
    <div class="welcomButton" (click)="btnBack()">
      <div class="textCenter">Close</div>
    </div>
  </div>
 

</ion-content>