<div class="fixedHeader topHeader">
  <div class="imageHeader">
    <div class="headerPadding">
      <!-- <div>
        <ion-icon name="alert-circle-outline"></ion-icon>
      </div> -->
      <ion-col class="center-center col" col="" no-margin="">
        <!-- <div class="imageChallenge center-center"> -->
          <div class="avatarProfileWidth" (click)="informationModal()">
            
            <!-- <img src="assets/imgs/health_information/Animal_class1.png"> -->
            <img src="assets/imgs/health_information/Animal_class{{HealthScoreIndex}}">

                  <!-- {{HealthScoreIndex}} -->
          </div>

        <!-- </div> -->

      </ion-col>
    </div>
    <div class="topCurve">
      <div class="center-center col" col="" no-margin="" no-padding="">
        <ion-card-content class="healthScore">
          Health score : {{HealthScore}}
        </ion-card-content>
        
      </div>
    </div>
  </div>
</div>
<div fullscreen #mycontent class="mainContent" #pageTop>

      <!-- <ion-infinite-scroll (ionInfinite)="onLoadRank($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>  -->

      <ion-row class="row">
        <ion-col class="center-left col" col-6="">
          <div>
            <ion-row class="textHealthData">
              Health data
            </ion-row>
          </div>
        </ion-col>
        
        <ion-col class="center-right" col-6="">
          <ion-col class="center-right col" col-4="">
            <div class="customActionSheetGroup" (click)="editModal()">
              <ion-col class="iconSportTypes">
                <span class="displayTextInside">Edit</span>
              </ion-col>
            </div>
            <!-- <button class="center-right col displayTextInside">Edit</button> -->
          </ion-col>
        </ion-col>
      </ion-row>

      <ion-row class="row">
        <div class="scrolling-wrapper">
          <div class="card box" >
            <div >
              <ion-row class="row">
                <img class="iconWidth" src="assets/imgs/health_add/Asset_10@3x.png">
              </ion-row>
              <ion-row class="row">
                Weekly Steps
              </ion-row>
              <ion-row class="text3">
                {{weeklySteps}}
              </ion-row>
              <ion-row class="row">
                steps
              </ion-row>
            </div>
          </div>
          <div class="card box">
            <div>
              <ion-row class="row">
                <img class="iconWidth" src="assets/imgs/health_add/Asset_9@3x.png">
              </ion-row>
              <ion-row class="row">
                Weekly Exercises
              </ion-row>
              <ion-row class="text3">
                {{weeklyExercises}}
              </ion-row>
              <ion-row class="row">
                mins
              </ion-row>
            </div>
          </div>
          <div class="card box">
            <div>
              <ion-row class="row">
                <img class="iconWidth" src="assets/imgs/health_add/Asset_1@3x.png">
              </ion-row>
              <ion-row class="row">
                BMI
              </ion-row>
              <ion-row class="text3">
                {{BMI}}
              </ion-row>
              <ion-row class="row" style="opacity: -0.6;">
                .
              </ion-row>
            </div>
          </div>
          <div class="card box">
            <div>
              <ion-row class="row">
                <img class="iconWidth" src="assets/imgs/health_add/Asset_8@3x.png">
              </ion-row>
              <ion-row class="row">
                Cholesterol ratio
              </ion-row>
              <ion-row class="text3">
                {{cholesterol}}
              </ion-row>
              <ion-row class="row" style="opacity: -0.6;">
                .
              </ion-row>
            </div>
          </div>
          <div class="card box">
            <div>
              <ion-row class="row">
                <img class="iconWidth" src="assets/imgs/health_add/Asset_6@3x.png">
              </ion-row>
              <ion-row class="row">
                Blood pressure
              </ion-row>
              <ion-row class="text3">
                {{bloodPressure1}}/{{bloodPressure2}}
              </ion-row>
              <ion-row class="row" style="opacity: -0.6;">
                .
              </ion-row>
            </div>
          </div>
          <div class="card box">
            <div>
              <ion-row class="row">
                <img class="iconWidth" src="assets/imgs/health_add/Asset_5@3x.png">
              </ion-row>
              <ion-row class="row">
                Fasting blood sugar
              </ion-row>
              <ion-row class="text3">
                {{bloodSugar}}
              </ion-row>
              <ion-row class="row" style="opacity: -0.6;">
                .
              </ion-row>
            </div>
          </div>
        </div>
      </ion-row>
    
    <!-- <ion-content>
        <ion-scroll scrollX="true">
    
            <ion-card>
                <ion-card-content>
                    content
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-content>
                    content
                </ion-card-content>
            </ion-card>
    
        </ion-scroll>
    </ion-content> -->

    <!-- <ion-col class="center-right" col-6="">
      <ion-col class="center-right col" col-4="">
        <div class="customActionSheetGroup" (click)="welcomeModal()">
          <ion-col class="iconSportTypes"><span class="displayTextInside">welcome</span></ion-col>
        </div>
      </ion-col>
    </ion-col> -->

      


      

      
  </div>

