<ion-header>
  <ion-toolbar>
    <ion-title>How To Challenges Work</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="btnBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="assets/imgs/challenge/how-to-challenges-work.jpg" class="longImageHowToChallengesWork">
</ion-content>
