page-how-to-challenges-work {

    

    .content-md {
        color: #000;
        background-color: #fafafa;
    }
    
    .mainContent{
      // background-color: #fafafa;
      margin-left:0;
      margin-right:0;
    }

    .toolbar-background-md {
      border-color: transparent;
      background: #d30876;
    }
  
    .toolbar-title-md {
      font-size: 1.25em;
      font-weight: bold;
      letter-spacing: 0.05em;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .bar-button-default-md,
    .bar-button-clear-md-default,
    .bar-button-md-default {
      color: white;
    }
  
    .toolbar-title-md {
      color: white;
    }

    .longImageHowToChallengesWork{
        padding: 1em;
    }
}
