<div class="fixedHeader topHeader">
  <div class="imageHeader">
    <div class="headerPadding">
      <ion-row no-margin no-padding class="marginRow">
        <ion-col col-4 col no-margin no-padding class="center-left">
          <div class="imageChallenge center-center">
            <!-- <img
              src="assets/imgs/icons/icon_camera.png"
              class="positionIcon"
              (click)="btnSelectPhoto()"
            /> -->

            <div class="avatarProfileWidth">
              <img src="{{userImg}}" />
            </div>
          </div>
        </ion-col>

        <ion-col col-8 no-margin no-padding class="center-left">
          <div class="marginLeft">
            <div class="textDetailChallenge">
              Username : <span class="textPoint">{{userName}}</span>
            </div>

            <div class="textDetailChallenge">
              Rank : <span class="textPoint">{{rankNo}}</span>
            </div>

            <div class="textDetailChallenge">
              Total smile point : <span class="textPoint">{{smilePoint}}</span>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="topCurve">
    <div class="segmentCenter">
      <div class="segmentBg">
        <ion-grid no-padding no-margin>
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin (click)="btnSegment(1)">
              <div [ngClass]="segmentSwitch1">last week</div>
            </ion-col>
            <ion-col no-padding no-margin (click)="btnSegment(2)">
              <div [ngClass]="segmentSwitch2">this week</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <ion-row style="margin-left:1.6em;margin-right:1.6em">
      <ion-col col-6 class="center-left">
        <div class="customActionSheetGroup" (click)="presentActionSheetGroup()">
          <ion-row>
            <ion-col class="center-center"
              ><span class="displayTextInside"
                >{{actionSheetGroup}}</span
              ></ion-col
            >
            <!-- <ion-col col-1></ion-col>
            <ion-col col-2 class="center-center">
              <img src="assets/imgs/icons/icon_arrow-down.png" class="iconArrowDown" />
            </ion-col>
            <ion-col col-8 class="center-center"><span class="displayTextInside">{{actionSheetGroup}}</span></ion-col> -->
          </ion-row>
        </div>
      </ion-col>

      <ion-col col-6 class="center-right">
        <div class="customActionSheetIcons" (click)="presentActionSheetSports()">
          <ion-row>

            <ion-col col-1></ion-col>
            <ion-col col-3 class="center-center">
              <img src="assets/imgs/icons/icon_arrow-down.png" class="iconArrowDown" />
            </ion-col>
            <ion-col col-7 class="center-center">
              <img
              src="assets/imgs/icon_svg/{{actionSheetSportIcon}}"
              class="iconSportTypes"
            />
            </ion-col>

          </ion-row>
        </div>
      </ion-col>

    </ion-row>
  </div>
</div>

<ion-content fullscreen #mycontent class="mainContent" #pageTop>
  <div [ngClass]="showCardPadding">
    <ion-card [ngClass]="showCardRadius">
      <ion-list *ngFor="let record of showCardData;let i= index">
        <ion-item [ngClass]="record.userNo == highLight?'active-item-color':''">
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin col-2>
              <div class="textRankBg center-center">
                <span
                  class="textRank"
                  [ngClass]="record.userNo == highLight?'textRankWhite':'textRank'"
                  >{{record.rankNo}}</span
                >
              </div>
            </ion-col>

            <ion-col no-padding no-margin col-2>
              <div class="center-center">
                <div class="avatarWidth">
                  <img src="{{record.userImg}}" />
                </div>
              </div>
            </ion-col>

            <ion-col no-padding no-margin col-3 style="align-self: center;">
              <div
                class="center-center"
                style="text-align: -webkit-left;
                position: absolute;
                margin-left: 1em;
                margin-top: -0.8em;"
                [ngClass]="record.userNo == highLight?'textNameWhite':'textName'"
              >
                {{record.userName}}
              </div>
            </ion-col>
            <ion-col no-padding no-margin col-5 style="align-self: center;">
              <div
                style="text-align: -webkit-right;
                margin-right: 1em;"
                [ngClass]="record.userNo == highLight?'textDataWhite':'textData'"
              >
                {{record.total}}
                <!-- {{record.user_status}} -->
              </div>
            </ion-col>
          </ion-row>
          <div class="lineSeperate" *ngIf="i != (showCardData.length)-1"></div>
          <div
            class="lineSeperateNone"
            *ngIf="i == (showCardData.length)-1"
          ></div>
        </ion-item>
      </ion-list>
      <!-- <ion-infinite-scroll (ionInfinite)="onLoadRank($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>  -->
    </ion-card>
  </div>
</ion-content>

<!-- 
<ion-content fullscreen #mycontent class="mainContent" #pageTop>
  <div [ngClass]="showCardPadding" (swipe)="swipe($event)">
    <ion-card [ngClass]="showCardRadius">
      <ion-list *ngFor="let record of showCardData;let i= index" (swipe)="swipe($event)">
        <ion-item [ngClass]="record.userNo == highLight?'active-item-color':''">
          <ion-row no-padding no-margin>

            <ion-col no-padding no-margin col-2>
              <div class="center-center">
                <img src="{{record.userImg}}" class="avatarWidth">
              </div>
            </ion-col>

            <ion-col no-padding no-margin col-8>
              <div class="vbox">
                <div class="flex1">
                  <div class="textName bottom-left" [ngClass]="record.userNo == highLight?'textNameWhite':'textName'">
                    {{record.userName}}</div>
                </div>
                <div class="flex1">
                  <div class="textData" [ngClass]="record.userNo == highLight?'textDataWhite':'textData'">
                    {{record.totalTxt}}{{record.user_status}}</div>
                </div>
              </div>
            </ion-col>

            <ion-col no-padding no-margin col-2>
              <div class="textRankBg center-center">
                <span class="textRank"
                  [ngClass]="record.userNo == highLight?'textRankWhite':'textRank'">{{record.rankNo}}</span>
              </div>
            </ion-col>

          </ion-row>
          <div class="lineSeperate" *ngIf="i != (showCardData.length)-1"></div>
          <div class="lineSeperateNone" *ngIf="i == (showCardData.length)-1"></div>

        </ion-item>
      </ion-list>
       <ion-infinite-scroll (ionInfinite)="onLoadRank($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll> 
    </ion-card>
  </div>
</ion-content>
-->
