<ion-content no-bounce (click)="btnClose()">
  <div class="content-center">
    <ion-card>
      <ion-card-header>
        Points are calculated from :
      </ion-card-header>
      <ion-list>
        <ion-item class="info">
          <ion-row style="white-space: initial;">
            - Weekly premium is Annual premium/52
          </ion-row>
          <ion-row style="white-space: initial;">
            - Annual premium equals to a maximum of 50,000 and a sum of 1,000 and Health & CI rider.
          </ion-row>
          <ion-row style="white-space: initial;">
            - Your current Health & CI Rider is {{annualPremium}} THB.
          </ion-row>
        </ion-item>

      </ion-list>

    </ion-card>


  </div>
</ion-content>
