page-reward-condition {
    .content-md {
        background-color:#ffffffc2;
        background-color:rgba(251, 251, 250, 0.8);
      }

      .card-md {        
        font-weight: bold;
        margin-top: 20%;
        border-radius: 0.8em;
        -webkit-box-shadow: 0 0 15px 0 #d30876;
        box-shadow: 0 0 15px 0 #d30876;
        background-color: #d30876;
      } 
      .card-header-md{
        color: white;
        font-size: 1.5em;
      }  
      
      .info{
        font-size: 1.4rem;
        font-weight: bold;
      }
}
