<ion-header>
  <ion-toolbar>
    <ion-title>
      Apple Watch
    </ion-title>

  </ion-toolbar>


</ion-header>

<ion-content>

  <div class="favorite-list" (click)="showHeartrate()">
    <ion-grid no-margin>
      <ion-row>
        <ion-col col-4>
          <ion-icon name="heart"></ion-icon>
          <span class="data-type">&nbsp;Heart Rate</span>
        </ion-col>
        <ion-col col-8 text-right>
          <span class="number-show">{{heartRate}}</span>
          <span class="number-unit">bpm</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="favorite-list">
    <ion-grid no-margin>
      <ion-row>
        <ion-col col-4>
          <ion-icon name="md-battery-charging"></ion-icon>
          <span class="data-type">&nbsp;Energy</span>
        </ion-col>
        <ion-col col-8 text-right>
          <span class="number-show">{{energy}}</span>
          <span class="number-unit">kcal</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="favorite-list">
    <ion-grid no-margin>
      <ion-row>
        <ion-col col-4>
          <ion-icon name="ios-man"></ion-icon>
          <span class="data-type">&nbsp;Steps</span>
        </ion-col>
        <ion-col col-8 text-right>
          <span class="number-show">{{stepcount}}</span>
          <span class="number-unit">steps</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="favorite-list">
    <ion-grid no-margin>
      <ion-row>
        <ion-col col-4>
          <ion-icon name="md-pin"></ion-icon>
          <span class="data-type">&nbsp;Walk Distance</span>
        </ion-col>
        <ion-col col-8 text-right>
          <span class="number-show">{{walk_distance}}</span>
          <span class="number-unit">km</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="favorite-list">
    <ion-grid no-margin>
      <ion-row>
        <ion-col col-4>
          <ion-icon name="md-pin"></ion-icon>
          <span class="data-type">&nbsp;Cycling Distance</span>
        </ion-col>
        <ion-col col-8 text-right>
          <span class="number-show">{{cycling_distance}}</span>
          <span class="number-unit">km</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list>
    <ion-card *ngFor="let workout of workouts">
      <ion-card-header>{{ workout.calories }}</ion-card-header>
      <ion-card-content>
        <p>Activity: {{ workout.activityType }}</p>
        <p>Duration: {{ workout.duration / 100 }} min</p>
        <p>Date: {{ workout.startDate | date:'short' }}</p>
        <p>Distance: {{ workout.miles }} miles</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>