page-home {
    .favorite-list {
        color : whitesmoke;
        background-color: red;
        margin: 0.5em;
        border-radius: 0.2em;
      }
    
    .data-type{
        font-size: 1.1em;
        font-weight: 500;
    }

    .number-show{
        font-size: 2.3em;
        font-weight: 100;
    }
    .number-unit{
        font-size: 1em;
        font-weight: 500;
    }
    ion-icon {
        font-size: 1.5em; //Preferred size here
    }
}
