
    <!-- <ion-buttons left>
      <button ion-button icon-only (click)="btnBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-header> -->
      <ion-content class="main-view">
        <div class="overlay" (click)="btnBack()"></div>
        <div class="modal_content">
          <ion-row class="welcomTextheader">
            Welcome to your  health score
          </ion-row>
          <ion-row class="ion-justify-content-end">
            <ion-col>
              <div class="avatarProfileWidth" style="width: 350px;
              height: 272px;">
                <img src="assets/imgs/health_welcom/welcome_01.png">
                <!-- /Users/apiwat_n/MTLHealthProject_3nd/design2nd/src/assets/imgs/health_welcom/welcome_01.png -->
                <!-- <img src="assets/imgs/icons/Challenge_New.png"> -->
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="welcomText">
            <!-- <ion-col slot="fixed" refreshingText="Refreshing..."> -->
              {{textWelcom}}
            <!-- </ion-col> -->
          </ion-row>
            <ion-row>
              <ion-col class="center" style="margin-left: 80px;">
                <div class="welcomButton" (click)="btnNext()">
                  <div class="nextText">Next</div>
                </div>
              </ion-col>
            </ion-row>
          
        </div>
        
          
      </ion-content>