health-welcome {

  .center{
    text-align: center;
  }
  .nextText{
    height: 32px;
    left: 36.09%;
    right: 35.43%;
    top: calc(50% - 32px/2 + 3px);

    font-family: KaLaTeXa Text;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.466667px;

    color: #FFFFFF;
  }
  .welcomButton{
    bottom: 0%;
    margin-left: 20px;
    width: 151px;
    height: 40px;

    background: #2FA2D6;
    border-radius: 20px;
  }
  .welcomText{
    width: 322px;
    height: 175px;
    left: 47px;
    top: 588px;

    margin-top: 15px;

    font-family: KaLaTeXa Text;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.35px;

    color: #383838;
  }
  .welcomTextheader{
    width: 285px;
    height: 96px;
    left: 66px;

    font-family: KaLaTeXa Text;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 45px;
    /* or 141% */
    margin-left: 27px;
    text-align: center;
    letter-spacing: 0.35px;

    color: #383838;
  }

  .main-view{
    background: transparent;
  }
  .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .5;
    background-color: #333;
  }
  .modal_content {
    position: absolute;
    top: calc(40% - (50%/2));
    left: 0;
    right: 0;
    width: 100%;
    height: 120%;
    padding: 10px;
    z-index: 100;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    background: #e8e8e8;
    background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
  }

  .aaa{
    font-weight: bold;
    font-size: 20px;
  }
  .bbb{
    box-shadow: 0 0 0px 1px black;
  }
  .bloodPressure1{
    position: absolute;
    width: 55px;
    height: 32px;
    left: 211px;

    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 1px;
  }
  .bloodPressure{

    position: absolute;
    height: 35px;
    left: 265px;
    width: 30px;
    right: 17.63%;

    font-family: KaLaTeXa Text;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: -0.08px;

    color: #000000;
  }
  .bloodPressure2{
  position: absolute;
  width: 48px;
  height: 32px;
  left: 349px;

  background: #FAFAFA;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 1px;
  }
  .boxInput{
    position: absolute;
    width: 129px;
    height: 33px;
    left: 210px;
    margin-top: 5px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 1px;
  }
  .boxValue{
    position: absolute;
    height: 20px;
    right: 6.04%;
    bottom: 20px;

    font-family: KaLaTeXa Text;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */

    text-align: right;
    letter-spacing: -0.08px;

    color: #000000;

    opacity: 0.4;
  }
  
  .center-center{

    display: -webkit-flex;
    display: flex;
  
    /*up - down*/
    align-items: center;
    -webkit-align-items: center;
  
    /*left-right*/
    justify-content: center;
    -webkit-justify-content: center;
  }
  .saveButton {
    margin: 0 auto;
    height: 2.3em;
    border-radius: 3em;
    font-size: 1.2em;
    color: white;
    background-color: #f0027f;
    // background-color: #2fa2d6;
    width: 100%;
  }
}