      <ion-content class="main-view">
        <div class="overlay" (click)="btnBack()"></div>
        <div class="modal_content">
          <ion-icon name="close-circle" class="center-right" (click)="btnBack()"></ion-icon>
          <ion-row class="informationheader">
            Health score
          </ion-row>
          <ion-row class="informationText">
            shows how healthy you are based on your data. There are 5 categories.
          </ion-row>
          <ion-row class="marginFormIcon">
            <ion-col col-3>
              <img class="icon_left" src="assets/imgs/health_information/Animal_class1.png">
            </ion-col>
            <ion-col col-9>
              <h3 class="textboldInfor" >Lazy sloth</h3> 
              <div class="textInfor">
                Health score < 400 
              You can be hunted easily. Improving your health is critical for survival.
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="marginFormIcon">
            <ion-col col-3>
              <img class="icon_left" src="assets/imgs/health_information/Animal_class2.png">
            </ion-col>
            <ion-col col-9>
              <h3 class="textboldInfor" >Sleepy koala</h3> 
              <div class="textInfor">
                Health score 401 - 550
                Wake up and move your body a bit more to become healthier.
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="marginFormIcon">
            <ion-col col-3>
              <img class="icon_left" src="assets/imgs/health_information/Animal_class3.png">
            </ion-col>
            <ion-col col-9>
              <h3 class="textboldInfor" >Playful wolf</h3> 
              <div class="textInfor">
                Health score 551 - 700
                You are part of the pack. Your health is at the average level.
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="marginFormIcon">
            <ion-col col-3>
              <img class="icon_left" src="assets/imgs/health_information/Animal_class4.png">
            </ion-col>
            <ion-col col-9>
              <h3 class="textboldInfor" >Active kangaroo</h3> 
              <div class="textInfor">
                Health score 701 - 850
                Beating you is not that easy. You have the fighting spirit of a kangaroo.
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="marginFormIcon">
            <ion-col col-3>
              <img class="icon_left" src="assets/imgs/health_information/Animal_class5.png">
            </ion-col>
            <ion-col col-9>
              <h3 class="textboldInfor" >Mighty lion</h3> 
              <div class="textInfor">
                Health score 850+ 
                Only people like you can be as strong as a lion. You health is at its peak!
              </div>
            </ion-col>
          </ion-row>          
          
        </div>
        
          
      </ion-content>