<ion-header>

  <ion-navbar>
    <ion-title>Heart Rate : {{showDateTitle}}</ion-title>
        <ion-buttons left>
          <button ion-button icon-only (click)="back()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div class="favorite-list" (click)="showHeartrate()" *ngIf="heartRateArray.length == 0">
  <ion-grid no-margin>
    <ion-row>
      <ion-col text-center>
      <ion-icon name="heart"></ion-icon>
      <span class="data-type">&nbsp;Please Update Heart Rate First! </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

    <ion-list>
    <ion-item *ngFor="let heartrate of heartRateArray">
      
      <ion-row>       
        <ion-col *ngIf="heartrate.metadata.HKMetadataKeyHeartRateMotionContext == 2">
          <ion-icon name="md-flame"></ion-icon>&nbsp;&nbsp;{{ heartrate.quantity }}
        </ion-col>
        
        <ion-col *ngIf="heartrate.metadata.HKMetadataKeyHeartRateMotionContext == 0 || heartrate.metadata.HKMetadataKeyHeartRateMotionContext == 1">
          <ion-icon name="heart"></ion-icon>&nbsp;&nbsp;{{ heartrate.quantity }}
        </ion-col>

        <ion-col text-right>
          {{ heartrate.startDate | date: 'H:mm:ss'  }}
        </ion-col>
      </ion-row>

    </ion-item>
  </ion-list>

</ion-content>
