<ion-header>
    <ion-toolbar>
      <ion-title>Pending Request</ion-title>
      <ion-buttons left>
        <button ion-button icon-only (click)="btnBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="mainContent" no-pading>
      <ion-list *ngFor="let record of showCardData;let i= index">
        <ion-item>
          <ion-row no-padding no-margin>
    
            <ion-col no-padding no-margin col-3>
              <div class="center-center">
                <div class="avatarWidth">
                  <img src="{{record.userImg}}">
                </div>
              </div>
            </ion-col>
    
            <ion-col no-padding no-margin class="rightColumn">
              <div class="yourFriendInvite">{{record.userName}}</div>
              <div class="">sent you a friend request</div>
              <div>
                <span class="minutesAgo">{{record.requestTime}}</span>
              </div>
    
              <ion-row>
                <ion-col class="center-left">
                  <div class="acceptButton center-center" (click)="onAccept(record)">Accept</div>
                  <div class="rejectButton" (click)="onReject(record)">Reject</div>
                </ion-col>
              </ion-row>
    
              <!-- {{record.userName}} {{record.totalTxt}} {{record.user_status}} -->
            </ion-col>
          </ion-row>
    
          <div class="lineSeperate"></div>
        </ion-item>
      </ion-list>
    </ion-content>
