page-pending-request {

    .list-md {
        margin:0;
      }
    
      .item-md {
        padding-left: 0.5em;
      }
    
      .item-md.item-block .item-inner {
        padding-right: 0;
      }
    
      .label-md {
        margin: 13px 8px 0 0;
      }
    
      .lineSeperate{
        margin-top:0.5em;
        border-bottom: 1px solid rgba(0,0,0, 0.1);
      }
    
      .lineSeperateNone{
        margin-bottom:0.8em;
      }
    
        background-color: #ffffff;
    
        .mainContent{
          // background-color: #fafafa;
          margin-left:0;
          margin-right:0;
        }
    
        .toolbar-background-md {
          border-color: transparent;
          background: #d30876;
        }
      
        .toolbar-title-md {
          font-size: 1.25em;
          font-weight: bold;
          letter-spacing: 0.05em;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    
        .bar-button-default-md,
        .bar-button-clear-md-default,
        .bar-button-md-default {
          color: white;
        }
      
        .toolbar-title-md {
          color: white;
        }
    
        .avatarWidth {
          position: relative;
          width: 3.5em;
          height: 3.5em;
          overflow: hidden;
          border-radius: 50%;
        }
        
        .avatarWidth img {
          width: 100%;
          height: auto;
        }

        .rightColumn{
          align-self: center; 
          margin-left: 0.5em;
        }
    
        .acceptButton{
          font-size: 1em;
          font-weight: bold;
          height: 2em;
          vertical-align: middle;
          text-align: center;
          width:40%;
          border-radius: 2em;
          background-color: #2fa2d6;
          color:white;
          letter-spacing: 0.05em;
        }
    
        .rejectButton{
          margin-left:1em;
          font-size: 1em;
          font-weight: bold;
          letter-spacing: 0.05em;
          text-align: center;
          color: #2fa2d6;
        }
    
        .active-item-color{
          background-color: rgba(47, 162, 214, 0.1) !important;
        }
    
        .yourFriendInvite{
          font-size: 1em;
          font-weight: bold;
        }
    
        .minutesAgo {
          opacity: 0.6;
          font-size: 0.9em;
          letter-spacing: 0.05em;
          color: #383838;
        }

}
