<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="btnBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Wating for design ui/ux
</ion-content>