<ion-content no-bounce (click)="btnClose()">

  <div class="complexView">
    <div class="vbox">
      <div class="flex1 center-center">
        <ion-card>
          <ion-card-content>

            <div class="center-center">
                <img src="{{urlQRCode}}" class="imgQrCode">
              <!-- <img src="assets/imgs/generate_qrcode.png" class="imgQrCode"> -->
            </div>

            <div class="modalBottom">
              <div class="lineSeparateCurve"></div>

              <div class="center-center textTitle">
                Scan QR code to join the challenge
              </div>

              <div class="wordingPadding">
                <ion-row no-margin no-padding>
                  <ion-col col-2 class="top-center" no-margin no-padding>
                    <img src="assets/imgs/icons/icon_install.png" class="imgIcon">
                  </ion-col>
                  <ion-col no-margin no-padding>
                    <div class="textInvite">Log in to Healthy app on phone</div>
                    <div class="textDetail">Install and open Healthy app</div>
                  </ion-col>
                </ion-row>

                <ion-row no-margin no-padding>
                  <ion-col col-2 class="top-center" no-margin no-padding>
                    <img src="assets/imgs/icons/icon_scan.png" class="imgIcon">
                  </ion-col>
                  <ion-col no-margin no-padding>
                    <div class="textInvite">Scan QR code</div>
                    <div class="textDetail">In Leaderboard menu</div>
                    <div class="textDetail">choose Start a challenge</div>
                  </ion-col>
                </ion-row>
              </div>

              <div class="center-center textInvite">
                Invite your friends by scan this QR Code
              </div>

            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

</ion-content>