<ion-content no-bounce (click)="btnClose()">

  <div class="complexView">
    <div class="vbox">
      <div class="flex1 center-center">
        <ion-card>
          <ion-card-content>

            <div class="center-center">
              <img src="assets/imgs/termAndCondition.png" class="imgTermAndCondition">
            </div>

            <div class="modalBottom">
              <div class="lineSeparateCurve"></div>

              <div class="center-center textTitle">
                Our Terms and Conditions
              </div>

              <div class="wordingPadding">
                <ion-row no-margin no-padding>
                  <ion-col col-2 class="top-center" no-margin no-padding>
                    <img src="assets/imgs/icons/icon_rule_1.png" class="imgIcon">
                  </ion-col>
                  <ion-col no-margin no-padding>
                    <div class="textInvite">What to include in a Terms and Conditions</div>
                    <div class="textDetail">This template is free to download and use for your website or mobile app.</div>
                  </ion-col>
                </ion-row>

                <ion-row no-margin no-padding>
                  <ion-col col-2 class="top-center" no-margin no-padding>
                    <img src="assets/imgs/icons/icon_rule_1.png" class="imgIcon">
                  </ion-col>
                  <ion-col no-margin no-padding>
                    <div class="textInvite">What are Terms and Conditions</div>
                    <div class="textDetail">agreement that includes the terms, the rules and the guidelines of acceptable behavior and other useful sections to which users must agree in order to use or access your website and mobile app.</div>
                    <div class="textDetail">It’s up to you to set the rules and guidelines that the user must agree to. You can think of your Terms and Conditions agreement as the legal agreement where you maintain your rights to exclude users from your app in the event that they abuse your app, where you maintain your legal rights against potential app abusers, and so on.</div>
                  </ion-col>
                </ion-row>
              </div>

              <div class="center-center textInvite">
                Oct 30, 2019
              </div>

            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

</ion-content>