page-term-and-condition {
  background-image: url("../assets/imgs/bg_black_tranparent50.png") !important;
  display: block;

  .content-md {
    background-color: transparent;
  }

  .card-md {
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 0.8em;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }

  .card-content-md {
    padding: 0px;
  }

  .imgTermAndCondition {
    padding-top: 1em;
    width: 95%;
  }

  .imgIcon {
    padding-top: 1em;
    width: 1.5em;
  }

  .imgGoldCoin {
    margin-right: 0.4em;
    width: 1.8em;
  }

  .modalBottom {
    background-color: rgba(216, 216, 216, 0.2);
    padding-bottom: 1em;
  }

  .wordingPadding {
    margin: 0 1em;
  }

  .textTitle {
    font-size: 1.1em;
    font-weight: bold;
    color: black;
  }

  .textDetail {
    font-size: 0.9em;
    color: rgba(56, 56, 56, 0.7);
  }

  .textInvite {
    margin-top: 1em;
    font-size: 0.8em;
    font-weight: 600;
    color: black;
  }

  .lineSeparateCurve {
    margin-bottom: 1em;
    height: 1em;
    background-color: white;
    display: block;
    overflow: hidden;
    border-bottom-right-radius: 200vh 20vh;
    border-bottom-left-radius: 200vh 20vh;
    width: 106%;
    margin-left: -3%;
    margin-right: 3%;
  }
}
