
    <!-- <ion-buttons left>
      <button ion-button icon-only (click)="btnBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-header> -->
      <ion-content class="main-view">
        <div class="overlay" (click)="btnBack()"></div>
        <div class="modal_content">
          <h2 style="font-weight: bold;
          line-height: 38px;
          letter-spacing: 0.56px;
          color: #383838;">Edit your health information</h2>
          <hr>
          <ion-row class="ion-justify-content-around">
            <ion-col size="3">
              <div class="iconHealth">
                <img class="iconWidth" src="assets/imgs/health_add/Asset_2@3x.png">
                <ion-col class="textWidth">Date of Birth</ion-col>
              </div>
            </ion-col>
            <ion-col size="3" class="boxInput">
              <div class="boxValue">
                <ion-label class="segment_age_inactive" position="floating" *ngIf="mydate == null">{{Age}}</ion-label >
                <ion-datetime displayFormat="DD/MM/YYYY" min="1900-03-14" max="2070-12-09" [(ngModel)]="mydate" 
                (ionChange)="doSomething(this.mydate)" style="width: 124px;"></ion-datetime>
              </div>
            </ion-col>
          </ion-row>
          <hr>
          <ion-row class="ion-justify-content-end">
            <ion-col size="3">
              <div class="iconHealth">
                <img class="iconWidth" src="assets/imgs/health_add/Asset_1@3x.png">
                <ion-col class="textWidth">Height (cm)</ion-col>
              </div>
            </ion-col>
            <ion-col size="3" class="boxInput">
              <div class="boxValue">
                <ion-input [ngClass]="segmentSwitch1" (change)="btnSegment(1)" placeholder="Enter Input" type="tel" maxlength="3" [(ngModel)]="height" text-right max="3" pattern="[0-9]*" value="{{height}}" inputmode="numeric"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <hr>
          <ion-row class="ion-justify-content-around">
            <ion-col size="3">
              <div class="iconHealth">
                <img class="iconWidth" src="assets/imgs/health_add/Asset_7@3x.png">
                <ion-col class="textWidth">Weight (kg)</ion-col>
              </div>
            </ion-col>
            <ion-col size="3" class="boxInput">
              <div class="boxValue">
                <ion-input [ngClass]="segmentSwitch2" (change)="btnSegment(2)" type="tel" maxlength="3" [(ngModel)]="weight" text-right pattern="[0-9]*" value="{{weight}}" inputmode="numeric"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <hr>
          <ion-row class="ion-justify-content-around">
            <ion-col size="2">
              <div class="iconHealth">
                <img class="iconWidth" src="assets/imgs/health_add/Asset_6@3x.png">
                <ion-col class="textWidth"> Blood Pressure</ion-col>
              </div>
            </ion-col>
            <ion-col size="1" class="bloodPressure1">
              <div class="boxValue">
                <ion-input [ngClass]="segmentSwitch3" (change)="btnSegment(3)" type="tel" maxlength="3"[(ngModel)]="bloodPressure1" text-right max="3" pattern="[0-9]*" value="{{bloodPressure1}}" inputmode="numeric"></ion-input>
              </div>
            </ion-col>
            <ion-col class="bloodPressure">/</ion-col>
            <ion-col size="1" class="bloodPressure2">
              <div class="boxValue">
                <ion-input [ngClass]="segmentSwitch4" (change)="btnSegment(4)" type="tel" maxlength="3" [(ngModel)]="bloodPressure2" text-right max="3" pattern="[0-9]*" value="{{bloodPressure2}}" inputmode="numeric"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <hr>
          <ion-row class="ion-justify-content-around">
            <ion-col size="3">
              <div class="iconHealth">
                <img class="iconWidth" src="assets/imgs/health_add/Asset_8@3x.png">
                <ion-col class="textWidth"> Total Cholesterol</ion-col>
              </div>
            </ion-col>
            <ion-col size="3" class="boxInput">
              <div class="boxValue">
                <ion-input [ngClass]="segmentSwitch5" (change)="btnSegment(5)" type="tel" maxlength="3" [(ngModel)]="cholesterol" text-right max="3" pattern="[0-9]*" value="{{cholesterol}}" inputmode="numeric"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <hr>
          <ion-row class="ion-justify-content-around">
            <ion-col size="3">
              <div class="iconHealth">
                <img class="iconWidth" src="assets/imgs/health_add/Asset_11@3x.png">
                <ion-col class="textWidth"> HDL</ion-col>
                
              </div>
            </ion-col>
            <ion-col size="3" class="boxInput">
              <div class="boxValue">
                <ion-input [ngClass]="segmentSwitch6" (change)="btnSegment(6)" type="tel" maxlength="3" [(ngModel)]="HDL" text-right max="3" pattern="[0-9]*" value="{{HDL}}" inputmode="numeric"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <hr>
          <ion-row class="ion-justify-content-around">
            <ion-col size="3">
              <div class="iconHealth">
                <img class="iconWidth" src="assets/imgs/health_add/Asset_5@3x.png">
                <ion-col class="textWidth"> Fasting Blood Sugar</ion-col>
                
              </div>
            </ion-col>
            <ion-col size="3" class="boxInput">
              <div class="boxValue">
                <ion-input [ngClass]="segmentSwitch7" (change)="btnSegment(7)" type="tel" maxlength="3" [(ngModel)]="bloodSugar" text-right max="3" pattern="[0-9]*" value="{{bloodSugar}}" inputmode="numeric"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <hr>
          <ion-row class="ion-justify-content-end">
            <ion-col size="3" class="center-center">
              <div class="cancelButton center-center" style="color: #2FA2D6;" (click)="btnBack()">
                <div class="textSave">Cancel</div>
              </div>
            </ion-col>
            <ion-col size="3" style="padding-right: 45px;">
              <div class="saveButton center-center" (click)="btnSaveChallenge()">
                <div class="textSave">Save</div>
              </div>
            </ion-col>
          </ion-row>
           
          <!-- <ion-list>
            <ion-item *ngFor="let heart of heartRateArray">
              AAA : {{heart.type_name}} : {{heart.value1}}
              <ion-col *ngIf="heart.type_name == 'Steps'">
                <ion-icon name="md-flame"></ion-icon>&nbsp;&nbsp;{{heart.value1}}
              </ion-col>
            </ion-item>
          </ion-list> -->
        </div>
        
          
      </ion-content>