health-add {

  .segment_age_inactive {
    color: black;
    opacity: 0.4;
  }
  .segment_height_inactive {
    color: black;
    opacity: 0.4;
  }
  .segment_height_active {
    color: black;
  }
  .segment_weight_inactive {
    color: black;
    opacity: 0.4;
  }
  .segment_weight_active {
    color: black;
  }
  .segment_bloodPressure_inactive {
    color: black;
    opacity: 0.4;
  }
  .segment_bloodPressure_active {
    color: black;
  }
  .segment_bloodPressure_1_inactive {
    color: black;
    opacity: 0.4;
  }
  .segment_bloodPressure_1_active {
    color: black;
  }
  .segment_cholesterol_inactive {
    color: black;
    opacity: 0.4;
  }
  .segment_cholesterol_active {
    color: black;
  }
  .segment_HDL_inactive {
    color: black;
    opacity: 0.4;
  }
  .segment_HDL_active {
    color: black;
  }
  .segment_bloodSugar_inactive {
    color: black;
    opacity: 0.4;
  }
  .segment_bloodSugar_active {
    color: black;
  }
  
  .text-input::-moz-placeholder {
    color: red;
  }
  
  .text-input:-ms-input-placeholder {
    color: red;
  }
  
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: red;
  }

  .alert-md .alert-button{
    --background: red;
    --color: #488aff;
  }
  .profalert{
    color:#e7333c;
    background-color: red;

}
  .main-view{
    background: transparent;
  }
  .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .5;
    background-color: #333;
  }
  .modal_content {
    position: absolute;
    top: calc(55% - (50%/2));
    left: 0;
    right: 0;
    width: 100%;
    height: 101%;
    padding: 10px;
    z-index: 100;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    background: #e8e8e8;
    background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
  }

  .iconHealth{
    font-weight: bold;
    font-size: 20px;
  }
  .iconWidth{
    width: 32px;
    height: 35.37px;
  }
  .textWidth{
    bottom: 11px;
  }
  .bloodPressure1{
    position: absolute;
    width: 55px;
    height: 32px;
    left: 230px;

    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 1px;
  }
  .bloodPressure{

    position: absolute;
    height: 35px;
    left: 287px;
    width: 30px;
    right: 17.63%;

    font-family: KaLaTeXa Text;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: -0.08px;

    color: #000000;
  }
  .bloodPressure2{
  position: absolute;
  width: 48px;
  height: 32px;
  left: 308px;

  background: #FAFAFA;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 1px;
  }
  .boxInput{
    position: absolute;
    width: 129px;
    height: 33px;
    left: 230px;
    margin-top: 5px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 1px;
  }
  .boxValue{
    position: absolute;
    height: 20px;
    right: 6.04%;
    bottom: 20px;

    font-family: KaLaTeXa Text;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */

    text-align: right;
    letter-spacing: -0.08px;

    color: #000000;

    // opacity: 0.4;
  }
  
  .center-center{

    display: -webkit-flex;
    display: flex;
  
    /*up - down*/
    align-items: center;
    -webkit-align-items: center;
  
    /*left-right*/
    justify-content: center;
    -webkit-justify-content: center;
  }
  .cancelButton{
    margin-top: 6px;
    width: 60px;

    font-family: KaLaTeXa Text;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.466667px;

    color: #2FA2D6;
  }
  .saveButton {
    margin: 0 auto;
    height: 2.3em;
    border-radius: 3em;
    font-size: 1.2em;
    color: white;
    background-color: #2FA2D6;
    // background-color: #2fa2d6;
    width: 100%;
  }
}