page-tabs {
  .titleAppName {
    font-size: 1.3em;
    font-family: "kalatexatextbold" !important;
  }
  .tabs-md .tabbar .tab-indicator {
    display: block;
    width: 1em;
    height: 1em;
    background-color: white;
  }
  .tabs-md .tabbar {
    background: #d30876;
    height: 4.5em;
  }

  .tabs-md .tab-button {
    min-height: 4.5em;
  }

  .tabs-md .tab-button[aria-selected="true"] {
    color: #ffffff;
    font-weight: 500;
  }

  .tabs-md .tab-button[aria-selected="true"] .tab-button-text {
    font-size: 0.9em;
    font-family: "kalatexatextbold" !important;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .tabs-md .tab-button[aria-selected="true"] .tab-button-text:after {
    content: "";
    margin-top: 0.2em;
    border-bottom: 3px solid white;
    width: 1em;
    display: block;
    left: 0;
    -webkit-animation: expanded_out 1s;
    animation: expanded_out 1s;
  }

  @keyframes expanded_out {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes expanded_out {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .tabs-md .tab-button-text {
    color: white;
    font-size: 0.95em;
    // font-weight: 500;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .main-content {
    background-color: #fafbfd;
  }

  super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button {
    text-transform: none;
  }

  .header-md::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
  }

  super-tabs:not([no-shadow]) > super-tabs-toolbar > ion-toolbar.toolbar::after,
  super-tabs:not([no-shadow]) > super-tabs-toolbar > ion-toolbar.toolbar::before {
    background-image: none;
  }

  super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .indicator {
    bottom: 0;
    position: absolute;
    z-index: 2;
    height: 0.3em;
    width: 1.3em;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    margin-left: 2.2em;
  }

  .button-md-primary {
    background-color: #ffffff;
  }

  .toolbar-background-md {
    border-color: #b2b2b2;
    background: #d30876;
  }

  .toolbar-title-md {
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .buttonInfo {
    width: 1.5em;
    vertical-align: middle;
  }

  .buttonReward {
    width: 2em;
    vertical-align: middle;
    margin-right: 1em;
  }

  .buttonSetting {
      margin-left:1em;
    width: 1.5em;
    vertical-align: middle;
  }

  .iconMarginTop {
    margin-top: 10px;
  }

  .imageProfile {
    width: 1.5em;
    position: relative;
  }

  .positionNumber {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: orange;
    border:1px solid white;
    position: absolute;
    top: -0.25em;
    left: -0.25em;

    .amountPushMessage{
      font-size: 0.5em;
      font-weight: bold;
      color:white;
      text-align: center;
  }
  
  }

  .positionIconDot {
    width: 0.5em;
    position: absolute;
    top: 0;
    right: 0;
  }



  .redDotPushStatus{
    border:1px solid #d30876; 
    border-radius: 50%;
    background-color: orange;
    width: 0.55em;
    height: 0.55em;
    position: absolute;
    top: 0;
    right: 0;
    }

    .avatarWidth {
        position: relative;
        width: 2.3em;
        height: 2.3em;
        overflow: hidden;
        border-radius: 50%;
        margin-left:0.8em;
      }
}

.popover-md .popover-content {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  width: 11em;
}
