<ion-header>

  <ion-navbar color="pink">

    <ion-title>
      <ion-row class="center-left" no-margin no-padding class="iconMarginTop">
        <ion-col no-margin no-padding>
          <div class="titleAppName">MTL Health
          </div>
        </ion-col>

        <ion-col col-2 class="center-right" col-4 no-margin no-padding>
          <div class="imageProfile" (click)="goNotificationView()">
            <div class="positionNumber" *ngIf="showNoti">
              <div class="amountPushMessage">{{notificationMessages}}</div>
            </div>
            <div class="redDotPushStatus" *ngIf="showNoti"></div>
            <img src="assets/imgs/icons/notification.png" class="buttonReward">
          </div>

          <!-- <img src="assets/imgs/icons/icon_setting.png" class="buttonSetting" (click)="presentPopover($event)"> -->

          <div class="center-center">
              <div class="avatarWidth" (click)="goProfileSettingView()">
                  <img src={{userImg}} />
              </div>
            </div>
              
          <!-- <img src="assets/imgs/icons/icon_setting.png" class="buttonSetting" (click)="goProfileSettingView()"> -->
        </ion-col>

      </ion-row>
    </ion-title>

  </ion-navbar>

</ion-header>
<ion-content>
  <ion-tabs tabbarPlacement="top" #mainTabs>
    <ion-tab [root]="rootThisWeekPage" tabTitle="This Week" (ionSelect)="onTabSelect(0)"></ion-tab>
    <ion-tab [root]="rooteHistoryPage" tabTitle="History" (ionSelect)="onTabSelect(1)"></ion-tab>
    <ion-tab [root]="rootLeaderBoardPage" tabTitle="Leader" (ionSelect)="onTabSelect(2)"></ion-tab>
    <ion-tab [root]="rootChallengeDashboardPage" tabTitle="Challenge" (ionSelect)="onTabSelect(3)"></ion-tab>
    <ion-tab [root]="rootHealthPage" tabTitle="Health" (ionSelect)="onTabSelect(4)"></ion-tab>
  </ion-tabs>
</ion-content>