<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="btnBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="fixedHeader topHeader">
  <div class="imageHeader">
    <div class="headerPadding">
      <ion-row no-margin no-padding class="marginRow">
        <ion-col col no-margin no-padding class="center-center">
          <div class="imageProfile center-center">
            <img
              src="assets/imgs/icons/icon_camera.png"
              class="positionIcon"
              (click)="btnSelectPhoto()"
            />

            <div class="avatarProfileWidth">
              <img src="{{userImg}}" />
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col no-margin no-padding class="center-center">
          <div class="textInProfile">

            <div class="textTitle">
              {{userName}}
            </div>

            <div class="textPoint">
              {{totalSmilePoint}}
            </div>

            <div class="textDetail">
              {{userStatus}}
            </div>
            
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="topCurve">
    <div class="topCurveWidth">
      <ion-row no-padding no-margin>
        <ion-col no-padding no-margin (click)="goWeeklyAchivement()">
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin class="center-center">
              <img
                src="assets/imgs/icon_friend_profile/icon_award.png"
                class="iconWidth"
              />
            </ion-col>
          </ion-row>
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin class="center-center"
              ><span class="topCurveTextTitle">Level</span></ion-col
            >
          </ion-row>
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin class="center-center"
              ><span class="topCurveTextNumber">{{userBadges}}</span></ion-col
            >
          </ion-row>
        </ion-col>

        <ion-col no-padding no-margin (click)="goRewardSmilePoints()">
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin class="center-center">
              <img
                src="assets/imgs/icon_friend_profile/icon_point.png"
                class="iconWidth"
              />
            </ion-col>
          </ion-row>
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin class="center-center"
              ><span class="topCurveTextTitle">Weekly Points</span></ion-col
            >
          </ion-row>
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin class="center-center"
              ><span class="topCurveTextNumber">{{currentPoint}}</span></ion-col
            >
          </ion-row>
        </ion-col>

        <ion-col no-padding no-margin (click)="goFriendsView()">
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin class="center-center">
              <img
                src="assets/imgs/icon_friend_profile/icon_friend.png"
                class="iconWidth"
              />
            </ion-col>
          </ion-row>
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin class="center-center"
              ><span class="topCurveTextTitle">Friends</span></ion-col
            >
          </ion-row>
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin class="center-center"
              ><span class="topCurveTextNumber">{{totalFriends}}</span></ion-col
            >
          </ion-row>
        </ion-col>

        <ion-col no-padding no-margin (click)="goTabChallengeView()">
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin class="center-center">
              <img
                src="assets/imgs/icon_friend_profile/icon_event.png"
                class="iconWidth"
              />
            </ion-col>
          </ion-row>
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin class="center-center"
              ><span class="topCurveTextTitle">Events</span></ion-col
            >
          </ion-row>
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin class="center-center"
              ><span class="topCurveTextNumber">{{userEvents}}</span></ion-col
            >
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>

<ion-content class="mainContent">
  <!-- <div class="segmentCenter">
    <div class="segmentBg">
      <ion-grid no-padding no-margin>
        <ion-row no-padding no-margin>
          <ion-col no-padding no-margin (click)="btnSegment(1)">
            <div [ngClass]="segmentSwitch1" class="center-center">
              <div class="marginSegmentTopHistory">Challenges</div>
            </div>
          </ion-col>
          <ion-col no-padding no-margin (click)="btnSegment(2)">
            <div [ngClass]="segmentSwitch2" class="center-center">
              <div class="marginSegmentTopHistory">Achievements</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div> -->

  <div class="cardContentPadding">
    <!-- <div class="cardSeparate">
      <div class="textCardTitle">Current Challenges</div>
      <ion-card class="cardPaddingChallenge">
        <ion-row class="rowMarin">
          <ion-col col-4 col no-margin no-padding class="center-center">
            <div class="imageChallenge center-center">
              <img src="assets/imgs/profile/profile_photo_01.png" class="" />
            </div>
          </ion-col>

          <ion-col col-8 no-margin no-padding class="center-left">
            <div class="marginLeft">
              <div class="titleHeaderInCard">MTL Marathon 2019</div>
              <div class="titleContentInCard">July 2, 2019</div>
              <div class="titleContentInCard">5,000 participants</div>
              <button ion-button class="buttonJoin">join</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <div class="cardSeparate">
      <div class="textCardTitle">Completed Challenges</div>
      <ion-card class="cardPaddingChallenge">
        <ion-row class="rowMarin">
          <ion-col col-4 col no-margin no-padding class="center-center">
            <div class="imageChallenge center-center">
              <img src="assets/imgs/profile/profile_photo_02.png" class="" />
            </div>
          </ion-col>

          <ion-col col-8 no-margin no-padding class="center-left">
            <div class="marginLeft">
              <div class="titleHeaderInCard">Weekly Challenge</div>
              <div class="titleContentInCard">Jun 3 - Jun 9, 2019</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="cardPaddingChallenge">
        <ion-row class="rowMarin">
          <ion-col col-4 col no-margin no-padding class="center-center">
            <div class="imageChallenge center-center">
              <img src="assets/imgs/profile/profile_photo_03.png" class="" />
            </div>
          </ion-col>

          <ion-col col-8 no-margin no-padding class="center-left">
            <div class="marginLeft">
              <div class="titleHeaderInCard">Weekly Challenge</div>
              <div class="titleContentInCard">Jun 3 - Jun 9, 2019</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="cardPaddingChallenge">
        <ion-row class="rowMarin">
          <ion-col col-4 col no-margin no-padding class="center-center">
            <div class="imageChallenge center-center">
              <img src="assets/imgs/profile/profile_photo_01.png" class="" />
            </div>
          </ion-col>

          <ion-col col-8 no-margin no-padding class="center-left">
            <div class="marginLeft">
              <div class="titleHeaderInCard">Weekly Challenge</div>
              <div class="titleContentInCard">Jun 3 - Jun 9, 2019</div>
              <div class="titleContentInCard">5,000 participants</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div> -->
  </div>
</ion-content>
