<ion-header>
  <ion-toolbar>
    <ion-title>{{record.challengeName}}</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="btnBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-buttons right>
      <button ion-button icon-only (click)="btnShare($event)">
        <ion-icon name="share"></ion-icon>
      </button>

      <button ion-button icon-only (click)="btnShare($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-toolbar>

  <div class="topHeader">
    <div class="topCurveChallenge"></div>
    <div class="cardFloat">
      <ion-card class="cardPaddingChallenge">
        <ion-row no-margin no-padding>
          <ion-col col no-margin no-padding col-3>
            <img src="{{record.challengeImage}}" class="imageChallengeWidth" />
          </ion-col>
          <ion-col col no-margin no-padding col-9>
            <ion-row no-margin no-padding>
              <ion-col col no-margin no-padding>
                <div class="textHeaderChallenge">
                  {{record.challengeName}}
                </div>
              </ion-col>
            </ion-row>

            <ion-row no-margin no-padding class="marginRow">
              <ion-col col no-margin no-padding>
                <span class="textDetailChallenge">Hosted by</span>
                <span class="textDetailCreateBy">{{record.createBy}}</span>

                <div class="textDetailChallenge">
                  {{record.allMember}} members
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row no-margin no-padding>
          <ion-col col no-margin no-padding col-5>
            <div class="textDetailChallenge">
              BEGINNING IN
            </div>
            <div class="textDetailOwner">
              {{record.startDate}}
            </div>
          </ion-col>
          <ion-col col-3 col no-margin no-padding></ion-col>
          <ion-col col-4 col no-margin no-padding>
            <div class="textDetailChallenge">
              END DATE
            </div>
            <div class="textDetailOwner">
              {{record.endDate}}
            </div>
          </ion-col>
        </ion-row>

        <ion-row
          no-margin
          no-padding
          class="buttonMarginTop"
          *ngIf="!joinStatus"
        >
          <ion-col col no-margin no-padding class="center-center">
            <div class="buttonReject center-center" (click)="btnReject(record)">
              <div>Reject</div>
            </div>
          </ion-col>
          <ion-col col no-margin no-padding class="center-center">
            <div class="buttonJoin center-center" (click)="btnJoin(record)">
              <div>Join</div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row
          no-margin
          no-padding
          class="buttonMarginTop"
          *ngIf="joinStatus"
        >
          <ion-col col no-margin no-padding class="center-center">
            <div class="buttonJoined center-center">
              <div>Joined</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <div class="segmentCenter">
      <div class="segmentBg">
        <ion-grid no-padding no-margin>
          <ion-row no-padding no-margin>
            <ion-col no-padding no-margin (click)="btnSegment(1)">
              <div [ngClass]="segmentSwitch1">Details</div>
            </ion-col>
            <ion-col no-padding no-margin (click)="btnSegment(2)">
              <div [ngClass]="segmentSwitch2">Leaderboard</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-header>

<ion-content class="mainContent">
  <div *ngIf="segmentSwitch2=='segment_button_active'">
    <ion-list *ngFor="let record of objChallengeDetail;let i= index">
      <ion-item [ngClass]="record.statusAchieve == 'T'?'highLight':''">
        <ion-row no-padding no-margin>
          <ion-col no-padding no-margin col-2 class="rankMarginRight">
            <div class="textRankBg center-center">
              <span class="textRank">{{record.rank}}</span>
            </div>
          </ion-col>
          <ion-col no-padding no-margin col-2>
            <div class="center-center">
              <img src="{{record.userImage}}" class="avatarWidth" />
            </div>
          </ion-col>
          <ion-col no-padding no-margin col-3>
            <!-- <ion-row class="textName bottom-left"style="text-align: -webkit-left;
          margin-left: 1em;
          margin-top: 0.8em;">
              {{record.userName}}
          </ion-row>
          <ion-row class="textData bottom-left"style="text-align: -webkit-left;
          margin-left: 1em;">
            {{record.lastSync}}
          </ion-row> -->
            <div
              class="textName bottom-left"
              style="text-align: -webkit-left;
          margin-left: 1em;
          margin-top: 0.8em;"
            >
              {{record.userName}}
            </div>
          </ion-col>
          <ion-col no-padding no-margin col-4>
            <!-- <div class="textData" style="text-align: -webkit-right;
          margin-right: 1em;
          margin-top: 0.8em;">
            {{record.total}}<span *ngIf="showType == 'challenge'">{{record.status}}</span>
          </div> -->
            <ion-row>
              <div
                class="textName"
                style="text-align: -webkit-right;
              width: -webkit-fill-available;
              margin-top: 0.8em;"
              >
                {{record.total}}<span *ngIf="showType == 'challenge'"
                  >{{record.rank}}</span
                >
              </div>
            </ion-row>
            <ion-row>
              <div
                class="textData"
                style="text-align: -webkit-right;
              width: -webkit-fill-available;
              font-size: 0.8em"
              >
                {{record.lastSync}}
              </div>
            </ion-row>
          </ion-col>
          <!-- <div class="light"></div>
        <div class="light"></div> -->
        </ion-row>
        <div class="lineSeperate"></div>

        <!-- </div> -->
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="segmentSwitch1=='segment_button_active'" class="paddingDetails">
    <div class="textHeaderDetail">รายละเอียด</div>
    <div class="textContentDetail">{{record.challengeDetail}}
    </div>
    <div class="textHeaderDetail">รางวัล</div>
    <ion-card>
      <ion-card-header><span class="textCardHeader">เงื่อนไข</span></ion-card-header>
      <ion-card-content>

        <ion-row no-margin no-padding class="cardRowMargin">
          <ion-col col no-margin no-padding col-3>
            <img src="{{record.rewardImage}}" class="imageCardWidth" />
          </ion-col>
          <ion-col col no-margin no-padding col-9>
            <ion-row no-margin no-padding>
              <ion-col col no-margin no-padding>
                <div class="cardConditionHeader">
                  {{record.rewardLine1}}
                </div>
              </ion-col>
            </ion-row>
            <ion-row no-margin no-padding class="marginRow">
              <ion-col col no-margin no-padding>
                <div class="cardConditionAmount">{{record.rewardLine2}}</div>
                <ion-row no-margin no-padding>
                  <ion-col col no-margin no-padding>
                    <div class="cardConditionAward">
                      {{record.rewardLine3}}
                    </div>
                  </ion-col>
                  <ion-col col no-margin no-padding col-2 class="center-right">
                    <span class="cardConditionAward"></span>
                  </ion-col>
                  </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <div class="lineSeparateDot"></div>



        <!-- <ion-row no-margin no-padding class="cardRowMargin">
          <ion-col col no-margin no-padding col-3>
            <img src="{{record.challengeImage}}" class="imageCardWidth" />
          </ion-col>
          <ion-col col no-margin no-padding col-9>
            <ion-row no-margin no-padding>
              <ion-col col no-margin no-padding>
                <div class="cardConditionHeader">
                  ระยะทาง 30,000 กิโลเมตร
                </div>
              </ion-col>
            </ion-row>
            <ion-row no-margin no-padding class="marginRow">
              <ion-col col no-margin no-padding>
                <div class="cardConditionAmount">10 รางวัล</div>
                <ion-row no-margin no-padding>
                  <ion-col col no-margin no-padding>
                    <div class="cardConditionAward">
                      บัตรวิ่งเมืองไทยมาราธอน
                    </div>
                  </ion-col>
                  <ion-col col no-margin no-padding col-2 class="center-right">
                    <span class="cardConditionAward">x 1</span>
                  </ion-col>
                  </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>         -->

      </ion-card-content>
    </ion-card>

    <div class="textHeaderDetail">เงื่อนไขโครงการ</div>
    <div class="textContentDetail">
      {{record.conditionDetail}}
    </div>
  </div>
</ion-content>