page-challenge-join {
    .scroll-content {
        // padding-top: 0.5em!important;
        // padding-top: 5%!important;
        padding-bottom: 10em!important;
        margin-bottom: 10em!important;
        margin-top: 4em !important;
    }

    .mainContent{
      margin-top:18.5em!important;
      background-color: #fff;
    }

    .label-md {
      margin: 13px 8px 0 0;
    }

    .toolbar-background-md {
        border-color:transparent;
        background-color: #d30876 !important;
    }
    
    .toolbar-title-md {
        padding-left: 1em;
        color:white;
    }

    .bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
      color: white;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: white;
    }

    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        width: 0;
    }

    .topHeader
    {
      width:100%;
      position:absolute;
      // padding-top:1em;
    }

    .topCurveChallenge {
      // z-index: -1 !important;
      position: absolute;
      top: 0px;
      width: 100%;
      display: block;
      background-color: #d30876;
      height: 8.5em;
      overflow: hidden;
      // border-bottom-right-radius: 200vh 20vh;
      // border-bottom-left-radius: 200vh 20vh;
      width: 106%;
      margin-left: -3%;
      margin-right: 3%;
      // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .card-md {
      border-radius: 0.8em;
      -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
    }

    .cardFloat{
      margin-left:1em;
      margin:0.5em;
      position: relative;
      top:0.35em;
    }

    .cardPadding{
      margin-top: 0.5em;
      padding-top:0.5em;
      padding-bottom:0.8em;
      margin-bottom:1em;
      // max-height: 9.5em;
    }

    .cardPaddingChallenge {
      padding: 1em;
    }
    
    .imageChallengeWidth {
      border-radius: 50%;
      width: 4em;
    }

    .imageHeader{
      margin-top:0;
      height: 100%;
      width:100%;
      position:absolute;
    }

    .textHeaderChallenge {
      // margin-top: 1em;
      // margin-bottom: 0.5em;
      font-size: 1.1em;
      font-weight: 600;
      line-height: 1.3em;
      letter-spacing: 0.08em;
      color: #4a4a4a;
    }
  
    .buttonMarginTop{
      margin-top: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
    }

    .textDetailChallenge {
      opacity: 0.8;
      font-size: 1em;
      letter-spacing: 0.04em;
      color: #000000;
    }
  
    .textDetailCreateBy{
      font-weight: 600;
      font-size: 1em;
      letter-spacing: 0.04em;
      color: #000000;
    }
  
    .textDetailOwner {
      font-size: 0.9em;
      font-weight: bold;
      letter-spacing: 0.04em;
      color: #4a4a4a;
    }
  
    .lineSeparate{
      width:4em;
      height: 0.19em;
      background-color: #fafbfd;
      margin-bottom: 0.8em;
    }

    .imageChallenge{
        padding:0.1em;
        position: relative;
      }

      .avatarProfileWidth{
        border-radius: 50%;
        width: 5em;
        border:2px solid white;
        box-shadow: 1em 1em 3em -2em rgba(0,0,0,0.75);
      }

      .photoWording{
        opacity: 0.4;
        font-size: 1.2em;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        margin-top: 0.8em;
        margin-bottom: 0.5em;
      }

      .headerPadding{
        padding-left: 1em;
        padding-right: 1em;
      }

      .marginRow{
        margin-bottom: 0.35em;
      }

      .marginTop{
        margin-top: 0.8em;
      }

      .marginLeft{
        margin-left: 0.7em;
      }


.buttonJoin {
  height: 2em;
  border-radius: 2em;
  font-size: 1em;
  color: white;
  background-color: #2fa2d6;
  width: 80%;
  font-weight: bold;
}

.buttonReject {
  height: 2em;
  font-size: 1em;
  color: #2fa2d6;
  background-color: transparent;
  width: 80%;
  font-weight: bold;
}

.buttonJoined{
  height: 2em;
  font-size: 1em;
  border-radius: 2em;
  opacity: 0.4;
  border: solid 1px #383838;
  width: 55%;
  font-weight: bold;
}


      .textMember{
        font-size: 1.8em;
        font-weight: bold;
        letter-spacing: 0.04em;
        color: #fff;        
      }

      .footerPadding{
        padding-top: 0.9em;
        padding-bottom:0.9em;
        background-color: white;
    }

    .connectDeviceButton{
      margin:0 auto;
      height: 2.3em;
      border-radius: 3em;
      font-size: 1.2em;
      color: white;
      background-color: #f0027f;
      width: 85%;
    }


    .textActivities{
      width:100%;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 1.1em;
      letter-spacing: 0.4px;
      color: #ffffff;
      text-align: center;
    }

    .textName{
      // margin-left: 1.5em;
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 0.4px;
      color: #383838;
      // bottom: -10%;
      // position: absolute;
    }

    .textData{
      // margin-left: 1.5em;
      font-size: 1em;
      letter-spacing: 0.4px;
      color: #383838;
      top: -10%;
      // position: absolute;
    }

    .textRank{
      // line-height: 50%;
      font-size: 1.2em;
      color: rgba(56, 56, 56, 0.54);
      font-weight: 700;
    }

    .textRankBg{
      height: 100%;
      text-align: center;
      vertical-align: middle;
    }

    .lineSeperate{
      margin-top:0.5em;
      border-bottom: 1px solid rgba(0,0,0, 0.1);
    }
  
    .lineSeperateNone{
      margin-bottom:0.8em;
    }

    .list-md {
      margin:0;
    }

    .avatarWidth{
      border-radius: 50%;
      width: 3.55em;
      height: 3.55em;
    }

    .textNameFooter{
      margin-left: 1.5em;
      font-size: 1.1em;
      font-weight: bold;
      letter-spacing: 0.4px;
      color: #383838;
      bottom: -10%;
      position: absolute;
    }

    .textDataFooter{
      margin-left: 1.5em;
      font-size: 1.1em;
      letter-spacing: 0.4px;
      color: #383838;
      top: -10%;
      position: absolute;
    }

    .textRankBg{
      height: 100%;
      text-align: center;
    }

    .textRankFooter{
      font-size: 1.4em;
      color: rgba(56, 56, 56, 0.54);
      font-weight: 700;
      margin: 0;
    }

    .footerJoined{
      border-top: 0.2em solid #2fa2d6;
      padding-left:1em;
      padding-right:1em;
      padding-top:0.4em;
      padding-bottom:0.4em;
      background-color: white;
    }


    .highLight{
      background-color:azure;
      // --ion-background-color: #2fa2d65c;
    }

    /* spotlight */
    .light {
      animation:top-right 5s ease-in-out alternate infinite;
      border-bottom:none;
      border-left:solid 20vh transparent;
      border-right:solid 20vh transparent;
      border-top:solid 200vh rgba(255, 255, 255, .5);
      bottom:0;
      height:0;
      left:-35%;
      position:absolute;
      transform-origin:bottom;
      width:0;
    }
    
    .light + .light {
      animation:top-left 4s ease-in-out alternate infinite;
      left:auto;
      right:-35%;
    }
    
    @keyframes top-right {
      0% {
        transform:rotate(-10deg);
      }
      100% {
        transform:rotate(70deg);
      }
    }
    
    @keyframes top-left {
      0% {
        transform:rotate(10deg);
      }
      100% {
        transform:rotate(-70deg);
      }
    }


/* ####  */

   
    $particles: 80;
    $size: 400;
    
    // Create the explosion...
    $box-shadow: ();
    $box-shadow2: ();
    @for $i from 0 through $particles {
      $angle:$i*10deg;
      $vel: $i* $size;
      $box-shadow: $box-shadow,
                   round($angle * $vel) + px
                   round($angle * $vel * 1.2) + px
                   red !global;
      $box-shadow2: $box-shadow2, 0 0 #fff !global
    }
    
    
    
    .pyro:before, .pyro:after {
      content: "●";
      font-size: 16px;
      color: #2fa2d6;//rgba(0,0,0,0);
      position: absolute;
      top: 0;
      text-shadow: $box-shadow;
      animation:  2s  bang      ease-out  infinite backwards,
                  2s  gravity   ease-out   infinite backwards,
                  10s  position  linear    infinite forwards;
    }
        
    .pyro:after {
      animation-delay: -5s;      
      animation-duration: 2.5s, 2.5s, 12.5s;
    }
            
    @keyframes bang {
      0%, 5% {
        text-shadow: 0 0 rgba(0,0,0,0);
      }
      35% {
        text-shadow: $box-shadow2;
      }
    }
        
    @keyframes gravity {
      0%, 5% {
        font-size: 120%;
        opacity: 0;
        transform: translateY(340px);
        animation-timing-function: ease-out;
      }
      35% {
        transform: translateY(0px);
        opacity: 1;
        animation-timing-function: ease-in;
      }
      100% {
        transform: translateY(1000px);
        opacity: 0;
        font-size: 0;
        animation-timing-function: ease-in;
      }
    }
        
    @keyframes position {
      0%, 20% {
        margin-top: 50vh;
        margin-left: 60vw;
        filter: hue-rotate(0deg);
      }
      20.1%, 40% {
        margin-top: 10vh;
        margin-left: 30vw;
        filter: hue-rotate(72deg);
      }
      40.1%, 60% {	
        margin-top: 30vh;
        margin-left: 40vw;
        filter: hue-rotate(144deg);
      }
      60.1%, 80% {	
        margin-top: 60vh;
        margin-left: 70vw;
    
        filter: hue-rotate(216deg);
      }
      80.1%, 100% {	
        margin-top: 30vh;
        margin-left: 80vw;
        filter: hue-rotate(288deg);
      }
    }     
    
    /* ----*/
    $mattBlack:#212121;
    .fireworks{
      list-style-type:none;
      padding:0;
      li{
        display:inline-block;
        margin:20px;
        height:50px;
        width:50px;
        border-radius:500px;
        position:relative;
        background-color: #8D6E63;
        box-shadow:0px 2px 5px rgba(0,0,0,0.5);
        &::before{
          content:"";
          position:absolute;
          height:100%;
          background-color: $mattBlack;
          width:100%;
          border-radius:500px;
          top:-40%;
          left:-30%;
        }
        &::after{
          content:"";
          position:absolute;
          height:100%;
          background-color: $mattBlack;
          width:100%;
          border-radius:500px;
          top:-40%;
          right:-30%;
        }
        span{
          display:inline-block;
          height:20px;
          width:20px;
          position:absolute;
          left: 0;
          right: 0;
          margin:auto;
          z-index:1;
          border-bottom-left-radius:50px;
          border-bottom-right-radius:50px;
          border-top-right-radius:50px;
          transform:rotate(45deg);
          animation:fire 0.3s ease infinite;
        }
      }
      @for $i from 1 through 6{
        li:nth-child(#{$i}){
          span{
            animation-delay:#{$i*0.5}s;
          }
        }
      }
      
    }
    
    @keyframes fire{
      0%,100%{
        transform:rotate(55deg);
        width:20px;
        background: linear-gradient(90deg,orange,orangered);
      }
      50%{
        transform:rotate(35deg);
        width:18px;
        background: linear-gradient(90deg,orangered,orange);
      }
    }
    

    //animation
    .conf-cont{
      position:relative;
      width:100%;
      height:100%;
      overflow:hidden;
    }
    
    .confetti{
      border-radius: 50%;
      position:absolute;
      width:5px;
      height:5px;
      background-color:#fff;//#f00;
      opacity:0.0;
      
      animation-name: fallsway;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
        
      @for $i from 1 through 20 {
          &:nth-child(#{$i}) {
            z-index: $i;
            animation-name: fallsway#{$i};
            animation-delay: (4 / 20) * $i + s;
            background-color:rgb(random(255),random(255),random(255));
          }
        }
    }
    
    @for $i from 1 through 20 {
      @keyframes fallsway#{$i} {
      0%{
        top:-5%;    
        left:0%+random(95);
        opacity:1.0;
        transform:skew(-30deg);
      }
      25%{
        left:100%-random(105);
        transform:skew(30deg);
      }
      50%{
        left:0%+random(95);
        transform:skew(-30deg);
      }
      75%{
        left:100%-random(105);
        transform:skew(30deg);
      }
      100% {
        top:100%;
        left:0%+random(95);
        opacity:1.0;
        transform:skew(-30deg);
      }
    }  
    }
    
    @keyframes fallsway {
      0%{
        top:-10%;    
        left:0%+random(95);
        opacity:1.0;
      }
      25%{
        left:0%+random(95);
      }
      50%{
        left:0%+random(95);
      }
      75%{
        left:0%+random(95);  
      }
      100% {
        top:110%;
        left:0%+random(95);
        opacity:1.0;
      }
    }


  .segmentCenter {
    margin-top: 1.9em;
    margin-left: 2em;
    margin-right: 2em;
    height: 160px;
  }

  .segmentBg {
    border-radius: 2em;
    background-color: rgba(0, 0, 0, 0.15);
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.2em;
    color: white;

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      width: 60%;
      margin: 0 auto;
    }

    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
      width: 60%;
      margin: 0 auto;
    }
  }

  .segment_button_active {
    border-radius: 2em;
    background-color: white;
    padding: 0.25em;
    text-align: center;
    color: #d30876;
    -webkit-animation: fade_in 0.3s;
    animation: fade_in 0.3s;
    font-size: 1em;
    font-weight: bold;
  }

  .segment_button_inactive {
    border-radius: 2em;
    background-color: transparent;
    padding: 0.25em;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .paddingDetails{
    padding-top: 1em;
    padding-left:1.5em;
    padding-right:1.5em;
  }

  .textHeaderDetail{
    font-weight: bold;
    font-size: 1.5em;
    color: #1c1c1c;
  }

  .textContentDetail{
    font-size: 1em;
    color: #383838;
    line-height: 1.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    white-space: pre-line!important;
  }

  .textCardHeader{
    color: rgba(56, 56, 56, 0.7);
    font-size: 1em;
  }

  .lineSeparateDot{
    border-bottom: dashed 1px #e8e8e8;
    background-color: #ffffff;
    width:100%;
    margin-bottom: 0.8em;
  }

  .cardConditionHeader{
    font-size: 1em;
    font-weight: bold;
    color: #000000;
  }

  .cardConditionAmount{
    font-size: 1em;
    color: rgba(56, 56, 56, 0.7)
  }

  .cardConditionAward{
    font-size: 1em;
    font-weight: bold;
    color: #383838;
  }

  .cardRowMargin{
    margin-top:0.5em;
    margin-bottom:0.5em;
  }

  .imageCardWidth {
    border-radius: 0%;
    width: 4em;
  }

  .card-header-md {
    font-size: 1.6rem;
    color: #222;
    padding: 0.8em 0em 0.2em 1em;
}

}
