page-this-week {

  .syncZoneFooter{
    margin-top:1.2em;
  }

  .iconSync{
    width:1.5em;
    height: 1.5em;
    margin-right: 0.4em;
  }

  .iconSyncing{
    width:1.5em;
    height: 1.5em;
    margin-right: 0.4em;
    -webkit-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }

  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .viewDetails {
    margin-top: 1.5em;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2fa2d6;
  }

  .lastSynced{
    opacity: 0.4;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #4a4a4a;
  }

  .fab[mini] {
    opacity: 0.55;
  }

  .iconWidth{
    width:100%;

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio: 2)
    {
      width:50%;
    }

    @media only screen 
    and (min-width: 1024px) 
    and (max-height: 1366px) 
    and (-webkit-min-device-pixel-ratio: 1.5) {
      width:50%;
    }

  }

  .marginCircleChart{
    margin-top:1em;
    margin-bottom:0.1em;
  }

  .cardMarginTop{
    margin-top:1em;
  }

    .checkedStatus {
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      border:0;
      background-color: #f2f2f2;
    }

    .textDayStatus {
      font-size: 0.8em;
      font-weight: bold;
      letter-spacing: 0.3px;
      text-align: center;
      color: #67ba78;
    }

    .mainContent{
        background-color:#fafbfd
      }

      .card-md {
        border-radius: 0.8em;
        -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
      }      

      .card-content-md {
        padding: 0px;
      }

      .topCurve {
        position: absolute;
        top: 0px;
        width: 100%;
        display: block;
        background-color: #d30876;
        height: 8.5em;
        overflow: hidden;
        border-bottom-right-radius: 200vh 20vh;
        border-bottom-left-radius: 200vh 20vh;
        width: 106%;
        margin-left: -3%;
        margin-right: 3%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }

    .timeRemaining{
      background-color: #d30876;
    }

    .cardSpaceTop{
      margin-top:5em;
    }

    .gridWidth{
      position: absolute;
      top:4.3em;
      margin: 0 auto;
      width: 80%;

      @media only screen 
      and (min-device-width : 768px) 
      and (max-device-width : 1024px) 
      and (orientation : portrait)
      and (-webkit-min-device-pixel-ratio: 2)
      {
        width: 60%;
      }
    
      @media only screen 
      and (min-width: 1024px) 
      and (max-height: 1366px) 
      and (-webkit-min-device-pixel-ratio: 1.5) {
        width: 50%;
      }

    }

    .positionTopRightCorner{
      width:3.5em;
      float:right;
      clear:right;

      @media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2){
        width:3.2em;
      }
    }

    .textCountdownTime {
      margin-top: 5%;
      opacity: 0.9;
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 0.4px;
      color: #ffffff;
    }
    
    .textTimeRemain {
      opacity: 0.9;
      font-size: 1em;
      font-weight: normal;
      letter-spacing: 0.4px;
      color: #ffffff;
      position: absolute;
      margin-top:-5%;

      @media only screen 
      and (min-device-width : 768px) 
      and (max-device-width : 1024px) 
      and (orientation : portrait)
      and (-webkit-min-device-pixel-ratio: 2)
      {
        margin-top:-4%;
      }
    
      @media only screen 
      and (min-width: 1024px) 
      and (max-height: 1366px) 
      and (-webkit-min-device-pixel-ratio: 1.5) {
        margin-top:-4%;
      }

    }

    .textZone{
      height: 2.8em;
    }

    .progressOuter {
      width: 96%;
      margin: 1.2em 2%;
      padding: 0px;
      text-align: center;
      background-color: #f4f4f4;
      color: #fff;
      border-radius: 20px;
    }

    .barWidth{
      width:92%;
      margin:0 auto;
    }
  
    .progressInner {
      min-width: 0%;
      white-space: nowrap;
      overflow: hidden;
      padding: 4px;
      border-radius: 20px;
      background-image: linear-gradient(to bottom, #76deeb, #0fb0f1);
    }
    .progressInnerZero {
      min-width: 0%;
      white-space: nowrap;
      overflow: hidden;
      padding: 4px;
      border-radius: 20px;
    }

    .textWalkTitle{
      margin-top:0.5em;
      margin-left: 1em;
      font-size: 1.2em;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: #4a4a4a;
    }

    .textWalkDetail{
      margin-left: 1.2em;
      opacity: 0.8;
      font-size: 0.95em;
      font-weight: 600;
      letter-spacing: 0.4px;
      color: #4a4a4a;
    }

    .textWalkTitle_Col1{
      margin-left: 1em;
      font-size: 1.1em;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: #4a4a4a;
    }

    .textWalkTitle_Col2{
      font-size: 1.1em;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: #4a4a4a;
      text-align: center;
    }

    .textWalkTitle_Col3{
      margin-right: 1em;
      font-size: 1.1em;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: #4a4a4a;
      text-align: right;
    }

    .textWalkDetail_Col1{
      font-size: 1em;
      margin-left: 1.2em;
      font-weight: 600;
      letter-spacing: 0.3px;
      color: #9b9b9b;
    }

    .textWalkDetail_Col2{
      font-size: 1em;
      font-weight: 600;
      letter-spacing: 0.3px;
      color: #9b9b9b;
      text-align: center;
    }

    .textWalkDetail_Col3{
      font-size: 1em;
      margin-right: 1.2em;
      font-weight: 600;
      letter-spacing: 0.3px;
      color: #9b9b9b;
      text-align: right;
    }

    .syncButton{
      font-size: 1.2em;
      height: 2.2em;
      vertical-align: middle;
      text-align: center;
      margin:0.5em auto;
      width:75%;
      border-radius: 2em;
      background-color: #d8127d;
      color:white;
      letter-spacing: 0.4px;
    }

    .cardPadding{
      margin-left:0.5em;
      margin-right:0.5em;
    }

    .graph1 {
      width: 80px;
      height: 69.3px;
      box-shadow: 0 0 20px 0 rgba(11, 253, 82, 0.4);
      background-image: linear-gradient(252deg, #8bef87, #77c674 47%, #72bb6f);
    }

    .rowMarginBottom{
      margin-bottom: 0.35em;
    }
    
    ion-img{
      background: transparent;
    }

    .arrowIcon{
      max-width:2em;

      .iconSize{
        height:3em;
        width:1em;
      }
      
    }
}
