<ion-toolbar class="topCurve">
  <div class="center-center">
    <ion-grid class="gridWidth" no-padding>
      <ion-row>
        <ion-col>
          <div class="center-center">
            <ion-grid no-margin no-padding>
              <ion-row no-margin no-padding>
                <ion-col col-3 no-padding no-margin class="center-center">
                  <img src="assets/imgs/icons/stopwatch.png" class="iconWidth" />
                </ion-col>
                <ion-col no-padding no-margin>
                  <ion-row no-margin no-padding>
                    <ion-col no-margin no-padding>
                      <div class="textZone">
                        <div class="textCountdownTime">{{timeRemain}}</div>
                        <div class="textTimeRemain">Time remaining</div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
        <ion-col>
          <div class="center-center" (click)="getAchievement()">
            <ion-grid no-margin no-padding>
              <ion-row no-margin no-padding>
                <ion-col col-3 no-padding no-margin class="center-center">
                  <img src="assets/imgs/icons/trophy.png" class="iconWidth" />
                </ion-col>
                <ion-col no-padding no-margin>
                  <ion-row no-margin no-padding>
                    <ion-col no-margin no-padding>
                      <div class="textZone">
                        <div class="textCountdownTime">
                          Level {{this.config.currentLevel}}
                        </div>
                        <div class="textTimeRemain">Out of 5</div>
                        <!-- <div class="textTimeRemain">Out of {{totalRank}}</div> -->
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-toolbar>
<ion-content #pageTop class="mainContent" scrollable="true">
  <div class="cardPadding">
    <ion-card class="cardSpaceTop">
      <ion-row no-padding no-margin>
        <ion-col no-padding no-margin>
          <div class="textWalkTitle">Steps</div>
          <div class="textWalkDetail">Goal : 75k steps a week</div>
        </ion-col>
        <ion-col col-2 no-padding no-margin>
          <div class="positionTopRightCorner">
            <img src="assets/imgs/card-bg-blue.png" />
          </div>
        </ion-col>
      </ion-row>

      <ion-row no-padding no-margin>
        <ion-col no-padding no-margin>
          <div class="barWidth">
            <div class="progressOuter">
              <div class="{{progressCss}}" [style.width]="progress + '%'"></div>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="rowMarginBottom">
        <ion-col>
          <div class="textWalkTitle_Col1">
            {{stepComplete}}
          </div>
          <div class="textWalkDetail_Col1">COMPLETED</div>
        </ion-col>
        <ion-col>
          <div class="textWalkTitle_Col2">
            {{stepLeft}}
          </div>
          <div class="textWalkDetail_Col2">LEFT</div>
        </ion-col>
        <ion-col>
          <div class="textWalkTitle_Col3">
            {{stepGoal}}
          </div>
          <div class="textWalkDetail_Col3">GOAL</div>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="cardMarginTop">
      <ion-row no-padding no-margin>
        <ion-col no-padding no-margin>
          <div class="textWalkTitle">Exercise</div>
          <div class="textWalkDetail">
            Goal : Achieve 3 rings a week
          </div>
        </ion-col>
        <ion-col col-2 no-padding no-margin>
          <div class="positionTopRightCorner">
            <img src="assets/imgs/card-bg-green.png" />
          </div>
        </ion-col>
      </ion-row>

      <ion-row no-padding no-margin class="marginCircleChart">
        <ion-col no-padding no-margin class="arrowIcon center-center" (click)="backward()">
          <img src="assets/imgs/Left.png" class="iconSize" />
        </ion-col>
        <ion-col no-padding no-margin class="center-center" (click)="getDetail(0)">
          <div class="{{cycle1}}">
            <span>{{cycle1Value}}</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </ion-col>

        <ion-col no-padding no-margin class="center-center" (click)="getDetail(1)">
          <div class="{{cycle2}}">
            <span>{{cycle2Value}}</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </ion-col>

        <ion-col no-padding no-margin class="center-center" (click)="getDetail(2)">
          <div class="{{cycle3}}">
            <span>{{cycle3Value}}</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </ion-col>
        <ion-col no-padding no-margin class="arrowIcon center-center" (click)="forward()">
          <img src="assets/imgs/Right.png" class="iconSize" />
        </ion-col>
      </ion-row>

      <ion-row no-padding no-margin>
        <ion-col style="max-width: 2em;"></ion-col>
        <ion-col no-padding no-margin>
          <div class="textDayStatus">{{cycle1Detail}}</div>
        </ion-col>
        <ion-col no-padding no-margin>
          <div class="textDayStatus">{{cycle2Detail}}</div>
        </ion-col>
        <ion-col no-padding no-margin>
          <div class="textDayStatus">{{cycle2Detail}}</div>
        </ion-col>
        <ion-col style="max-width: 2em;"></ion-col>
      </ion-row>

      <ion-row no-padding no-margin>
        <ion-col style="max-width: 2em;"></ion-col>
        <ion-col no-padding no-margin class="center-center">
          <div class="checkedStatus">
            <ion-img [src]="cycle1Status"></ion-img>
          </div>
        </ion-col>
        <ion-col no-padding no-margin class="center-center">
          <div class="checkedStatus">
            <ion-img [src]="cycle2Status"></ion-img>
          </div>
        </ion-col>
        <ion-col no-padding no-margin class="center-center">
          <div class="checkedStatus">
            <ion-img [src]="cycle3Status"></ion-img>
          </div>
        </ion-col>
        <ion-col style="max-width: 2em;"></ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="max-width: 2em;"></ion-col>
        <ion-col>
          <div class="textWalkTitle_Col1">
            {{dateName1}}
          </div>
        </ion-col>
        <ion-col>
          <div class="textWalkTitle_Col2">
            {{dateName2}}
          </div>
        </ion-col>
        <ion-col>
          <div class="textWalkTitle_Col3">
            {{dateName3}}
          </div>
        </ion-col>
        <ion-col style="max-width: 2em;"></ion-col>
      </ion-row>

      <ion-row class="rowMarginBottom">
        <ion-col style="max-width: 2em;"></ion-col>
        <ion-col>
          <div class="textWalkTitle_Col1">
            {{exerciseComplete}}
          </div>
          <div class="textWalkDetail_Col1">COMPLETED</div>
        </ion-col>
        <ion-col>
          <div class="textWalkTitle_Col2">
            {{exerciseRemain}}
          </div>
          <div class="textWalkDetail_Col2">LEFT</div>
        </ion-col>
        <ion-col>
          <div class="textWalkTitle_Col3">
            {{exerciseGoal}}
          </div>
          <div class="textWalkDetail_Col3">GOAL</div>
        </ion-col>
        <ion-col style="max-width: 2em;"></ion-col>
      </ion-row>

      <!-- <ion-row no-padding no-margin class="marginCircleChart">

                <ion-col no-padding no-margin class="center-center">

                    <div class="{{cycle1}}">
                        <span>{{cycle1Value}}</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>

                </ion-col>

                <ion-col no-padding no-margin class="center-center">

                    <div class="{{cycle2}}">
                        <span>{{cycle2Value}}</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>

                </ion-col>

                <ion-col no-padding no-margin class="center-center">

                    <div class="{{cycle3}}">
                        <span>{{cycle3Value}}</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>

                </ion-col>
            </ion-row>


            <ion-row no-padding no-margin>
                <ion-col no-padding no-margin>
                    <div class="textDayStatus">DAY 1</div>
                </ion-col>
                <ion-col no-padding no-margin>
                    <div class="textDayStatus">DAY 2</div>
                </ion-col>
                <ion-col no-padding no-margin>
                    <div class="textDayStatus">DAY 3</div>
                </ion-col>
            </ion-row>

            <ion-row no-padding no-margin>
                <ion-col no-padding no-margin class="center-center">
                    <div class="checkedStatus">
                        <img src="{{cycle1Status}}">
                    </div>
                </ion-col>
                <ion-col no-padding no-margin class="center-center">
                    <div class="checkedStatus">
                        <img src="{{cycle2Status}}">
                    </div>
                </ion-col>
                <ion-col no-padding no-margin class="center-center">
                    <div class="checkedStatus">
                        <img src="{{cycle3Status}}">
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="rowMarginBottom">
                <ion-col>
                    <div class="textWalkTitle_Col1">
                        {{exerciseComplete}}
                    </div>
                    <div class="textWalkDetail_Col1">COMPLETED</div>
                </ion-col>
                <ion-col>
                    <div class="textWalkTitle_Col2">
                        {{exerciseRemain}}
                    </div>
                    <div class="textWalkDetail_Col2">LEFT</div>
                </ion-col>
                <ion-col>
                    <div class="textWalkTitle_Col3">
                        {{exerciseGoal}}
                    </div>
                    <div class="textWalkDetail_Col3">GOAL</div>
                </ion-col>
            </ion-row> -->
    </ion-card>

    <div class="" (click)="goHowToChallengesWorkPageView()">
      <div class="viewDetails">View details</div>
    </div>
  </div>
  <ion-fab right bottom *ngIf="fabStatus==false" #fab>
    <button ion-fab color="pink" mini (click)="syncData('sync',fab)">
      <ion-icon name="sync"></ion-icon>
    </button>
  </ion-fab>

  <ion-row no-padding no-margin class="syncZoneFooter">
    <ion-col class="center-center" no-padding no-margin col-8>
      <!-- <div style="text-align: center;">Version {{version}} Last Sync {{lastSync}}</div> -->
      <div class="lastSynced">Last synced: {{lastSync}}</div>
    </ion-col>
    <ion-col class="center-center" no-padding no-margin col-4>
      <div
        class="syncButton center-center"
        *ngIf="fabStatus==true"
        (click)="syncData('sync',fab)"
      >
        <img src="assets/imgs/icons/icon_sync.png" [ngClass]="iconSyncStatus" /> Sync
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col class="center-center" no-padding no-margin>
      <div class="lastSynced">Version {{version}}</div>
    </ion-col>
  </ion-row>

  <!-- <div style="text-align: center;"></div> -->
  <!-- <div>Debug : {{objDebug}}</div> -->
</ion-content>