<ion-content no-bounce (click)="btnClose()">
  <div class="content-center">
    <ion-card>
      <ion-card-header no-padding no-margin class="cardHeader">
        <ion-row class="center-center" no-padding no-margin>
          <ion-col col-4  no-padding no-margin class="center-right"
            ><img
              src="assets/imgs/icons_exercise/icon-barbell.png"
              class="iconSize"
          /></ion-col>
          <ion-col col-8 no-padding no-margin>
            <span class="cardTitle"> EXERCISE DETAILS</span>
            </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-list no-padding no-margin>
        <ion-item no-padding no-margin>

          <ion-row  no-padding no-margin class="itemMargin">
            <ion-col col-3 class="center-center iconLeftPosition"  no-padding no-margin
              ><img
                src="assets/imgs/icons_exercise/icon-heart.png"
                class="iconInItems"
            /></ion-col>
            <ion-col  no-padding no-margin>
              <div class="lineMarginBottom">
                <span class="textTitle">ZONE 2</span>
              </div>
              <div class="lineMarginBottom">
                <span class="textDesc">Time:</span>
                <span class="textDescBold">{{exerciseZone2Minute}}  minutes</span>
              </div>
              <div class="lineMarginBottom">
                <span class="textDesc">Minutes/60:</span>
                <span class="textDescBold">{{exerciseZone2Percent}}%</span>
              </div>
            </ion-col>
          </ion-row>
          <div class="separateLine"></div>

          <ion-row  no-padding no-margin class="itemMargin">
            <ion-col col-3 class="center-center iconLeftPosition"  no-padding no-margin
              ><img
                src="assets/imgs/icons_exercise/icon-heart.png"
                class="iconInItems"
            /></ion-col>
            <ion-col  no-padding no-margin>
              <div class="lineMarginBottom">
                <span class="textTitle">ZONE 3</span>
              </div>
              <div class="lineMarginBottom">
                <span class="textDesc">Time:</span>
                <span class="textDescBold">{{exerciseZone3Minute}}  minutes</span>
              </div>
              <div class="lineMarginBottom">
                <span class="textDesc">Minutes/30:</span>
                <span class="textDescBold">{{exerciseZone3Percent}}%</span>
              </div>
            </ion-col>
          </ion-row>
          <div class="separateLine"></div>

          <ion-row  no-padding no-margin class="itemMargin">
            <ion-col col-3 class="center-center iconLeftPosition"  no-padding no-margin
              ><img
                src="assets/imgs/icons_exercise/icon-distance.png"
                class="iconInItems"
            /></ion-col>
            <ion-col  no-padding no-margin>
              <div class="lineMarginBottom">
                <span class="textTitle">SPORT TYPE</span>
              </div>
              <div class="lineMarginBottom">
                <span class="textDesc">Distance:</span>
                <span class="textDescBold">{{exerciseSwimDistance}}  m.</span>
              </div>
              <div class="lineMarginBottom">
                <span class="textDesc">Percent (distance/750):</span>
                <span class="textDescBold">{{exereciseSwimPercent}}%</span>
              </div>
            </ion-col>
          </ion-row>
          <div class="separateLine"></div>

          <ion-row  no-padding no-margin class="itemMargin">
            <ion-col col-3 class="center-center iconLeftPosition"  no-padding no-margin
              ><img
                src="assets/imgs/icons_exercise/icon-zoom.png"
                class="iconInItems"
            /></ion-col>
            <ion-col  no-padding no-margin>
              <div class="lineMarginBottom">
                <span class="textTitle">TOTAL</span>
              </div>
              <div class="lineMarginBottom">
                <span class="textDesc">Percent:</span>
                <span class="textDescBold">{{exerciseTotalPercent}}  %</span>
              </div>
              <div class="lineMarginBottom">
                <span class="textDesc">Calories:</span>
                <span class="textDescBold">{{exerciseTotalCalories}} cal.</span>
              </div>
            </ion-col>
          </ion-row>

          <div class="center-right cardFooter">
            Updated: {{activityDate}}
          </div>
          
        </ion-item>

      </ion-list>
    </ion-card>
  </div>
</ion-content>
