page-excercise-detail {
    .content-md {
        background-color:#ffffffc2;
        background-color:rgba(251, 251, 250, 0.8);
      }

      .card-md {        
        font-weight: bold;
        margin-top: 20%;
        border-radius: 0.8em;
        -webkit-box-shadow: 0 0 15px 0 #d30876;
        box-shadow: 0 0 15px 0 #d30876;
        background-color: #d30876;
      } 
      .card-header-md{
        color: white;
        font-size: 1.5em;
      }  
      
      .info{
        font-size: 1.4rem;
        font-weight: bold;
      }

      .iconSize{
        width: 1.9em;
      }

      .iconLeftPosition{
        margin-right: 0.6em;
      }

      .iconInItems{
        width: 3.8em;
      }
      
      .textTitle{
        font-size: 1em;
        font-weight: bold;
        color: black;
      }

      .textDesc{
        font-size: 0.9em;
        color: #9A9999;
      }

      .textDescBold{
        font-size: 0.9em;
        font-weight: bold;
        color: black;
      }

      .separateLine{
        height: 2px; 
        background-color: #E8E2E5;
      }

      .item-md.item-block .item-inner {
        padding-right: 0px;
    }

    .label-md {
      margin: 0px 0px 0px 0px;
  }

  .itemMargin{
    margin: 0.7em;
  }

  .lineMarginBottom{
    margin-bottom: -0.35em;
  }

  .cardHeader{
    margin: 0.6em;
  }

  .cardFooter{
    padding-top:0.3em;
    padding-bottom:0.3em;
    padding-left:0.3em;
    padding-right:0.9em;
    color: white;
    font-weight: bold;
    background-color: #D30A76;
  }

  .cardTitle{
    margin-left: 0.6em;
    font-size: 1em;
  }


}
